Repository phoenixvc/Mystira.workspace: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, dotnet-core, dotnet-shared, dotnet-domain, dotnet-application, dotnet-contracts, TypeScript Packages, .NET Core, .NET Shared, .NET Domain, .NET Application, .NET Contracts

codecov.yml:

# Codecov Configuration for Mystira Workspace
# https://docs.codecov.io/docs/codecovyml-reference

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%  # Allow 2% drop before failing
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%  # Allow more flexibility on individual PRs
        informational: false

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "header, diff, flags, components, tree, footer"
  behavior: default
  require_changes: false
  require_base: true
  require_head: true
  hide_project_coverage: false

# Ignore generated code and test files
ignore:
  # .NET ignores
  - "**/*.g.cs"
  - "**/*Tests*/**"
  - "**/obj/**"
  - "**/bin/**"
  - "**/*.Designer.cs"
  - "**/Migrations/**"
  # TypeScript ignores
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/coverage/**"
  - "**/*.d.ts"

# Flag configurations for different components
flags:
  # TypeScript packages
  typescript:
    paths:
      - packages/shared-utils/
      - packages/admin-ui/
      - packages/publisher/
    carryforward: true

  # .NET packages
  dotnet-core:
    paths:
      - packages/core/Mystira.Core/
    carryforward: true

  dotnet-shared:
    paths:
      - packages/shared/Mystira.Shared/
    carryforward: true

  dotnet-domain:
    paths:
      - packages/domain/Mystira.Domain/
    carryforward: true

  dotnet-application:
    paths:
      - packages/application/Mystira.Application/
    carryforward: true

  dotnet-contracts:
    paths:
      - packages/contracts/dotnet/Mystira.Contracts/
    carryforward: true

# Component configuration for better PR comments
component_management:
  default_rules:
    statuses:
      - type: project
        target: 80%
  individual_components:
    - component_id: typescript-packages
      name: TypeScript Packages
      paths:
        - packages/shared-utils/**
        - packages/admin-ui/**
        - packages/publisher/**
    - component_id: dotnet-core
      name: .NET Core
      paths:
        - packages/core/**
    - component_id: dotnet-shared
      name: .NET Shared
      paths:
        - packages/shared/**
    - component_id: dotnet-domain
      name: .NET Domain
      paths:
        - packages/domain/**
    - component_id: dotnet-application
      name: .NET Application
      paths:
        - packages/application/**
    - component_id: dotnet-contracts
      name: .NET Contracts
      paths:
        - packages/contracts/**

feat(infra): add text-embedding-ada-002 and secondary region projects
  infra/terraform/modules/shared/azure-ai/main.tf
  infra/terraform/modules/shared/azure-ai/outputs.tf
  infra/terraform/modules/shared/azure-ai/variables.tf
Due: none

Update AI service configurations and enforce schema validation
  src/Mystira.StoryGenerator.Api/appsettings.Development.json
  src/Mystira.StoryGenerator.Api/appsettings.json
  src/Mystira.StoryGenerator.RagIndexer/Mystira.StoryGenerator.RagIndexer.csproj
Due: none

removed key
  src/Mystira.StoryGenerator.RagIndexer/appsettings.json
Due: none

removed key
  src/Mystira.StoryGenerator.Api/appsettings.json
Due: none

moved endpoint
  src/Mystira.StoryGenerator.RagIndexer/appsettings.json
Due: none

key change
  src/Mystira.StoryGenerator.RagIndexer/appsettings.json
Due: none

Fix provider listing in Web UI and configure default Azure OpenAI deployment
  src/Mystira.StoryGenerator.Api/Controllers/ChatController.cs
Due: none

Add multi-region Azure OpenAI support
  src/Mystira.StoryGenerator.Api/appsettings.json
  src/Mystira.StoryGenerator.Contracts/Configuration/AiSettings.cs
  src/Mystira.StoryGenerator.Llm/Services/LLM/AzureOpenAIService.cs
Due: none

fix: resolve build errors for write-only properties and missing Category
  packages/infrastructure/Mystira.Infrastructure.Data/MystiraAppDbContext.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Services/MasterDataSeederService.cs
Due: none

Claude/fix archetype constructor m8 x7u (#507)
  infra/terraform/modules/shared/azure-ai/main.tf
  infra/terraform/modules/shared/azure-ai/outputs.tf
  infra/terraform/modules/shared/azure-ai/variables.tf
  packages/application/Mystira.Application/UseCases/GameSessions/MakeChoiceUseCase.cs
  packages/application/Mystira.Application/UseCases/Scenarios/ValidateScenarioUseCase.cs
  packages/authoring/Mystira.Authoring/Extensions/ServiceCollectionExtensions.cs
  packages/domain/Mystira.Domain/Models/MetadataModels.cs
  packages/infrastructure/Mystira.Infrastructure.Data/MystiraAppDbContext.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Services/MasterDataSeederService.cs
Due: dotnet-domain, dotnet-application, .NET Domain, .NET Application

chore(deps): update dependencies
  infra/docker/chain/Dockerfile
  packages/ai/Mystira.Ai.Tests/Mystira.Ai.Tests.csproj
  packages/authoring/Mystira.Authoring.Tests/Mystira.Authoring.Tests.csproj
  packages/infrastructure/Mystira.Infrastructure.Teams/Mystira.Infrastructure.Teams.csproj
  packages/shared/Mystira.Shared.Tests/Mystira.Shared.Tests.csproj
  pnpm-lock.yaml
Due: none

chore(deps): update dependencies (#510)
  infra/docker/chain/Dockerfile
  packages/ai/Mystira.Ai.Tests/Mystira.Ai.Tests.csproj
  packages/authoring/Mystira.Authoring.Tests/Mystira.Authoring.Tests.csproj
  packages/infrastructure/Mystira.Infrastructure.Teams/Mystira.Infrastructure.Teams.csproj
  packages/shared/Mystira.Shared.Tests/Mystira.Shared.Tests.csproj
  pnpm-lock.yaml
Due: none

various fixes
  src/Mystira.StoryGenerator.Api/Controllers/StoryAgentController.cs
  src/Mystira.StoryGenerator.Api/Models/EvaluateRequest.cs
  src/Mystira.StoryGenerator.Api/Models/EvaluateResponse.cs
  src/Mystira.StoryGenerator.Api/Models/RefineRequest.cs
  src/Mystira.StoryGenerator.Api/Models/RefineResponse.cs
  src/Mystira.StoryGenerator.Api/Models/SessionStartResponse.cs
  src/Mystira.StoryGenerator.Api/Models/SessionStateResponse.cs
  src/Mystira.StoryGenerator.Api/Models/StartSessionRequest.cs
  src/Mystira.StoryGenerator.Api/Program.cs
  src/Mystira.StoryGenerator.Application/FoundryServiceCollectionExtensions.cs
  src/Mystira.StoryGenerator.Application/Infrastructure/Agents/AISearchKnowledgeProvider.cs
  src/Mystira.StoryGenerator.Application/Infrastructure/Agents/FileSearchKnowledgeProvider.cs
  src/Mystira.StoryGenerator.Application/Infrastructure/Agents/InMemoryStreamPublisher.cs
  src/Mystira.StoryGenerator.Application/Infrastructure/Agents/SignalRStreamPublisher.cs
  src/Mystira.StoryGenerator.Application/PromptTemplates/JudgeAgentPrompt.cs
  src/Mystira.StoryGenerator.Application/PromptTemplates/RubricSummaryAgentPrompt.cs
  src/Mystira.StoryGenerator.Domain/Agents/EvaluationReport.cs
  src/Mystira.StoryGenerator.Domain/Agents/StorySessionEnums.cs
  src/Mystira.StoryGenerator.Domain/Agents/StoryVersionSnapshot.cs
  src/Mystira.StoryGenerator.Domain/Agents/UserRefinementFocus.cs
  src/Mystira.StoryGenerator.Infrastructure/Agents/FoundryAgentClient.cs
  src/Mystira.StoryGenerator.Web/Components/AgentMode/AgentModeProgressPanel.razor
  src/Mystira.StoryGenerator.Web/Components/AgentMode/AgentModePromptForm.razor
  src/Mystira.StoryGenerator.Web/Components/AgentMode/AgentModeRefinementPanel.razor
  src/Mystira.StoryGenerator.Web/Mystira.StoryGenerator.Web.csproj
  src/Mystira.StoryGenerator.Web/Pages/AgentModeStoryPage.razor
  src/Mystira.StoryGenerator.Web/Services/AgentSessionService.cs
  src/Mystira.StoryGenerator.Web/Services/IAgentSessionService.cs
  tests/Mystira.StoryGenerator.Api.Tests/Integration/AgentPipelineE2ETests.cs
  tests/Mystira.StoryGenerator.Api.Tests/Integration/AgentPipelinePerformanceTests.cs
  tests/Mystira.StoryGenerator.Api.Tests/Integration/StoryAgentControllerTests.cs
  tests/Mystira.StoryGenerator.Api.Tests/Integration/StreamingIntegrationTests.cs
Due: none

feat: enhance Swagger support for file uploads and schema generation
  src/Mystira.Admin.Api/Configuration/FileUploadOperationFilter.cs
  src/Mystira.Admin.Api/Program.cs
  src/Mystira.Admin.Api/Services/BundleService.cs
  src/Mystira.Admin.Api/Services/GameSessionApiService.cs
  src/Mystira.Admin.Api/Services/ScenarioApiService.cs
Due: none

Fix Swagger file upload handling and nullable reference warnings
  src/Mystira.Admin.Api/Configuration/FileUploadOperationFilter.cs
  src/Mystira.Admin.Api/Program.cs
Due: none

Implement custom API description and parameter filters for file uploads
  src/Mystira.Admin.Api/Configuration/FileUploadApiDescriptionProvider.cs
  src/Mystira.Admin.Api/Configuration/FileUploadParameterFilter.cs
  src/Mystira.Admin.Api/Controllers/AdminController.cs
  src/Mystira.Admin.Api/Controllers/BadgesController.cs
  src/Mystira.Admin.Api/Controllers/CharacterMapsAdminController.cs
  src/Mystira.Admin.Api/Controllers/MediaAdminController.cs
  src/Mystira.Admin.Api/Program.cs
Due: none

Add VSCode configuration files for .NET Core development
  .vscode/launch.json
  .vscode/tasks.json
Due: none

fix: resolve Swagger schema ID conflicts for MediaReference and other types
  NuGet.config
Due: none

feat(tests): add comprehensive API testing infrastructure
  tests/Mystira.Admin.Api.Tests/Controllers/AdminControllerTests.cs
  tests/Mystira.Admin.Api.Tests/Controllers/AuthControllerTests.cs
  tests/Mystira.Admin.Api.Tests/Controllers/ScenariosControllerTests.cs
  tests/Mystira.Admin.Api.Tests/HealthCheckTests.cs
  tests/Mystira.Admin.Api.Tests/Infrastructure/ApiTestFixture.cs
  tests/Mystira.Admin.Api.Tests/Infrastructure/MystiraWebApplicationFactory.cs
  tests/Mystira.Admin.Api.Tests/Infrastructure/TestDataBuilder.cs
  tests/Mystira.Admin.Api.Tests/Mystira.Admin.Api.Tests.csproj
Due: none

Update src/Mystira.Admin.Api/Configuration/FileUploadOperationFilter.cs
  src/Mystira.Admin.Api/Configuration/FileUploadOperationFilter.cs
Due: none

Update .vscode/tasks.json
  .vscode/tasks.json
Due: none

feat(tests): expand integration tests for additional controllers
  tests/Mystira.Admin.Api.Tests/Controllers/ApiInfoControllerTests.cs
  tests/Mystira.Admin.Api.Tests/Controllers/BadgesControllerTests.cs
  tests/Mystira.Admin.Api.Tests/Controllers/GameSessionsControllerTests.cs
  tests/Mystira.Admin.Api.Tests/Controllers/MasterDataControllerTests.cs
  tests/Mystira.Admin.Api.Tests/Controllers/MediaAdminControllerTests.cs
  tests/Mystira.Admin.Api.Tests/Controllers/ScenariosAdminControllerTests.cs
  tests/Mystira.Admin.Api.Tests/Controllers/UserProfilesAdminControllerTests.cs
Due: none

refactor: update NuGet.config and improve authentication handling
  docs/NUGET_FEED_CONFIGURATION.md
  src/Mystira.Admin.Api/Program.cs
  src/Mystira.Admin.Api/Services/BundleService.cs
Due: none

feat(tests): complete test coverage for all 23 controllers
  .github/workflows/ci.yml
  codecov.yml
  tests/Mystira.Admin.Api.Tests/Controllers/BadgeImagesControllerTests.cs
  tests/Mystira.Admin.Api.Tests/Controllers/BundlesAdminControllerTests.cs
  tests/Mystira.Admin.Api.Tests/Controllers/CharacterAdminControllerTests.cs
  tests/Mystira.Admin.Api.Tests/Controllers/CharacterMapsAdminControllerTests.cs
  tests/Mystira.Admin.Api.Tests/Controllers/CharacterMediaMetadataAdminControllerTests.cs
  tests/Mystira.Admin.Api.Tests/Controllers/ContributorsControllerTests.cs
  tests/Mystira.Admin.Api.Tests/Controllers/MediaMetadataAdminControllerTests.cs
  tests/Mystira.Admin.Api.Tests/Controllers/MigrationStatusControllerTests.cs
  tests/Mystira.Admin.Api.Tests/coverlet.runsettings
Due: none

fix(tests): add missing using Xunit; directive to all test files
  tests/Mystira.Admin.Api.Tests/Controllers/AdminControllerTests.cs
  tests/Mystira.Admin.Api.Tests/Controllers/ApiInfoControllerTests.cs
  tests/Mystira.Admin.Api.Tests/Controllers/AuthControllerTests.cs
  tests/Mystira.Admin.Api.Tests/Controllers/BadgeImagesControllerTests.cs
  tests/Mystira.Admin.Api.Tests/Controllers/BadgesControllerTests.cs
  tests/Mystira.Admin.Api.Tests/Controllers/BundlesAdminControllerTests.cs
  tests/Mystira.Admin.Api.Tests/Controllers/CharacterAdminControllerTests.cs
  tests/Mystira.Admin.Api.Tests/Controllers/CharacterMapsAdminControllerTests.cs
  tests/Mystira.Admin.Api.Tests/Controllers/CharacterMediaMetadataAdminControllerTests.cs
  tests/Mystira.Admin.Api.Tests/Controllers/ContributorsControllerTests.cs
  tests/Mystira.Admin.Api.Tests/Controllers/GameSessionsControllerTests.cs
  tests/Mystira.Admin.Api.Tests/Controllers/MasterDataControllerTests.cs
  tests/Mystira.Admin.Api.Tests/Controllers/MediaAdminControllerTests.cs
  tests/Mystira.Admin.Api.Tests/Controllers/MediaMetadataAdminControllerTests.cs
  tests/Mystira.Admin.Api.Tests/Controllers/MigrationStatusControllerTests.cs
  tests/Mystira.Admin.Api.Tests/Controllers/ScenariosAdminControllerTests.cs
  tests/Mystira.Admin.Api.Tests/Controllers/ScenariosControllerTests.cs
  tests/Mystira.Admin.Api.Tests/Controllers/UserProfilesAdminControllerTests.cs
  tests/Mystira.Admin.Api.Tests/HealthCheckTests.cs
  tests/Mystira.Admin.Api.Tests/Infrastructure/ApiTestFixture.cs
Due: none

fix(tests): align test builders with actual contract types
  tests/Mystira.Admin.Api.Tests/Controllers/AuthControllerTests.cs
  tests/Mystira.Admin.Api.Tests/Controllers/MigrationStatusControllerTests.cs
  tests/Mystira.Admin.Api.Tests/Infrastructure/TestDataBuilder.cs
Due: none

feat(contracts): add IsFeatured and ThumbnailUrl properties to scenario contracts
  packages/application/Mystira.Application/CQRS/Scenarios/Queries/GetScenariosWithGameStateQueryHandler.cs
  packages/application/Mystira.Application/Specifications/ScenarioSpecifications.cs
  packages/application/Mystira.Application/UseCases/Scenarios/GetScenariosUseCase.cs
  packages/contracts/dotnet/Mystira.Contracts/App/Responses/Scenarios/ScenarioResponses.cs
  packages/contracts/src/app/types.ts
Due: dotnet-application, dotnet-contracts, .NET Application, .NET Contracts

feat(scenarios): add end-to-end support for IsFeatured functionality
  packages/application/Mystira.Application/CQRS/Scenarios/Commands/SetScenarioFeaturedCommand.cs
  packages/application/Mystira.Application/CQRS/Scenarios/Commands/SetScenarioFeaturedCommandHandler.cs
  packages/application/Mystira.Application/CQRS/Scenarios/Queries/GetFeaturedScenariosQuery.cs
  packages/application/Mystira.Application/CQRS/Scenarios/Queries/GetFeaturedScenariosQueryHandler.cs
  packages/application/Mystira.Application/UseCases/Scenarios/UpdateScenarioUseCase.cs
  packages/contracts/dotnet/Mystira.Contracts/App/Requests/Scenarios/ScenarioRequests.cs
  packages/contracts/src/app/types.ts
Due: dotnet-application, dotnet-contracts, .NET Application, .NET Contracts

Add IsFeatured property to Scenario model (#511)
  packages/application/Mystira.Application/CQRS/Scenarios/Commands/SetScenarioFeaturedCommand.cs
  packages/application/Mystira.Application/CQRS/Scenarios/Commands/SetScenarioFeaturedCommandHandler.cs
  packages/application/Mystira.Application/CQRS/Scenarios/Queries/GetFeaturedScenariosQuery.cs
  packages/application/Mystira.Application/CQRS/Scenarios/Queries/GetFeaturedScenariosQueryHandler.cs
  packages/application/Mystira.Application/CQRS/Scenarios/Queries/GetScenariosWithGameStateQueryHandler.cs
  packages/application/Mystira.Application/Specifications/ScenarioSpecifications.cs
  packages/application/Mystira.Application/UseCases/Scenarios/GetScenariosUseCase.cs
  packages/application/Mystira.Application/UseCases/Scenarios/UpdateScenarioUseCase.cs
  packages/contracts/dotnet/Mystira.Contracts/App/Requests/Scenarios/ScenarioRequests.cs
  packages/contracts/dotnet/Mystira.Contracts/App/Responses/Scenarios/ScenarioResponses.cs
  packages/contracts/src/app/types.ts
Due: dotnet-application, dotnet-contracts, .NET Application, .NET Contracts

feat(tests): add IsFeatured and ThumbnailUrl to test builders
  tests/Mystira.Admin.Api.Tests/Infrastructure/TestDataBuilder.cs
Due: none

feat(scenarios): add IsFeatured and ThumbnailUrl support to service layer
  src/Mystira.Admin.Api/Services/ScenarioApiService.cs
Due: none

Bump all package versions to 0.5.1-alpha
  packages/application/Mystira.Application/Mystira.Application.csproj
  packages/contracts/dotnet/Mystira.Contracts/Mystira.Contracts.csproj
  packages/domain/Mystira.Domain/Mystira.Domain.csproj
  packages/infrastructure/Mystira.Infrastructure.Azure/Mystira.Infrastructure.Azure.csproj
  packages/infrastructure/Mystira.Infrastructure.Data/Mystira.Infrastructure.Data.csproj
  packages/infrastructure/Mystira.Infrastructure.Discord/Mystira.Infrastructure.Discord.csproj
  packages/infrastructure/Mystira.Infrastructure.Payments/Mystira.Infrastructure.Payments.csproj
  packages/infrastructure/Mystira.Infrastructure.StoryProtocol/Mystira.Infrastructure.StoryProtocol.csproj
  packages/infrastructure/Mystira.Infrastructure.Teams/Mystira.Infrastructure.Teams.csproj
  packages/infrastructure/Mystira.Infrastructure.WhatsApp/Mystira.Infrastructure.WhatsApp.csproj
  packages/shared/Mystira.Shared/Mystira.Shared.csproj
Due: dotnet-shared, dotnet-domain, dotnet-application, dotnet-contracts, .NET Shared, .NET Domain, .NET Application, .NET Contracts

Bump Ai and Authoring package versions to 0.1.1-alpha
  packages/ai/Mystira.Ai/Mystira.Ai.csproj
  packages/authoring/Mystira.Authoring.Abstractions/Mystira.Authoring.Abstractions.csproj
  packages/authoring/Mystira.Authoring/Mystira.Authoring.csproj
Due: none

Add IsFeatured and ThumbnailUrl to Scenario entity (#512)
  packages/ai/Mystira.Ai/Mystira.Ai.csproj
  packages/application/Mystira.Application/Mystira.Application.csproj
  packages/authoring/Mystira.Authoring.Abstractions/Mystira.Authoring.Abstractions.csproj
  packages/authoring/Mystira.Authoring/Mystira.Authoring.csproj
  packages/contracts/dotnet/Mystira.Contracts/Mystira.Contracts.csproj
  packages/domain/Mystira.Domain/Mystira.Domain.csproj
  packages/infrastructure/Mystira.Infrastructure.Azure/Mystira.Infrastructure.Azure.csproj
  packages/infrastructure/Mystira.Infrastructure.Data/Mystira.Infrastructure.Data.csproj
  packages/infrastructure/Mystira.Infrastructure.Discord/Mystira.Infrastructure.Discord.csproj
  packages/infrastructure/Mystira.Infrastructure.Payments/Mystira.Infrastructure.Payments.csproj
  packages/infrastructure/Mystira.Infrastructure.StoryProtocol/Mystira.Infrastructure.StoryProtocol.csproj
  packages/infrastructure/Mystira.Infrastructure.Teams/Mystira.Infrastructure.Teams.csproj
  packages/infrastructure/Mystira.Infrastructure.WhatsApp/Mystira.Infrastructure.WhatsApp.csproj
  packages/shared/Mystira.Shared/Mystira.Shared.csproj
Due: dotnet-shared, dotnet-domain, dotnet-application, dotnet-contracts, .NET Shared, .NET Domain, .NET Application, .NET Contracts

chore: update Mystira package versions to 0.5.*-alpha-*
  src/Mystira.Admin.Api/Mystira.Admin.Api.csproj
Due: none

Add IsFeatured and ThumbnailUrl to Contracts request DTOs
  packages/contracts/dotnet/Mystira.Contracts/App/Requests/Scenarios/ScenarioRequests.cs
Due: dotnet-contracts, .NET Contracts

Claude/add scenario properties ll aa f (#513)
  packages/contracts/dotnet/Mystira.Contracts/App/Requests/Scenarios/ScenarioRequests.cs
Due: dotnet-contracts, .NET Contracts

fix(tests): add UpdatedAt method to ScenarioBuilder
  tests/Mystira.Admin.Api.Tests/Infrastructure/TestDataBuilder.cs
Due: none

style: fix dotnet format violations
  src/Mystira.Admin.Api/Configuration/FileUploadOperationFilter.cs
  src/Mystira.Admin.Api/Configuration/FileUploadParameterFilter.cs
  src/Mystira.Admin.Api/Program.cs
Due: none

fix: remove IsFeatured/ThumbnailUrl from Contracts types
  src/Mystira.Admin.Api/Services/ScenarioApiService.cs
  tests/Mystira.Admin.Api.Tests/Infrastructure/TestDataBuilder.cs
Due: none
