Repository phoenixvc/Mystira.workspace: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, dotnet-core, dotnet-shared, dotnet-domain, dotnet-application, dotnet-contracts, TypeScript Packages, .NET Core, .NET Shared, .NET Domain, .NET Application, .NET Contracts

fix: simplify tests to avoid DI startup issues
  tests/Mystira.Admin.Api.Tests/HealthCheckTests.cs
Due: none

fix: register IRepository<BadgeConfiguration> for CheckAchievementsUseCase
  src/Mystira.Admin.Api/Program.cs
  tests/Mystira.Admin.Api.Tests/HealthCheckTests.cs
Due: none

style: fix whitespace indentation and import ordering
  src/Mystira.Admin.Api/Controllers/AgeGroupsController.cs
  src/Mystira.Admin.Api/Controllers/ArchetypesController.cs
  src/Mystira.Admin.Api/Controllers/CompassAxesController.cs
  src/Mystira.Admin.Api/Controllers/EchoTypesController.cs
  src/Mystira.Admin.Api/Controllers/FantasyThemesController.cs
  src/Mystira.Admin.Api/Program.cs
Due: none

chore(deps): update GitHub Actions
  .github/workflows/ci.yml
  .github/workflows/deploy-dev.yml
Due: none

style: fix import ordering and add braces in services and controllers
  src/Mystira.Admin.Api/Controllers/AdminController.cs
  src/Mystira.Admin.Api/Controllers/CharacterMapsAdminController.cs
  src/Mystira.Admin.Api/Controllers/MediaAdminController.cs
  src/Mystira.Admin.Api/Controllers/UserProfilesAdminController.cs
  src/Mystira.Admin.Api/Services/BundleService.cs
  src/Mystira.Admin.Api/Services/Caching/CachedScenarioApiService.cs
  src/Mystira.Admin.Api/Services/CharacterMapApiService.cs
  src/Mystira.Admin.Api/Services/GameSessionApiService.cs
  src/Mystira.Admin.Api/Services/ICharacterMapApiService.cs
  src/Mystira.Admin.Api/Services/IScenarioApiService.cs
  src/Mystira.Admin.Api/Services/IUserBadgeApiService.cs
  src/Mystira.Admin.Api/Services/IUserProfileApiService.cs
  src/Mystira.Admin.Api/Services/IUserProfileService.cs
  src/Mystira.Admin.Api/Services/ScenarioApiService.cs
  src/Mystira.Admin.Api/Services/UserBadgeApiService.cs
  src/Mystira.Admin.Api/Services/UserProfileApiService.cs
  src/Mystira.Admin.Api/Services/UserProfileService.cs
Due: none

fix(infrastructure): correct PlayerType property configuration in MystiraAppDbContext
  packages/infrastructure/Mystira.Infrastructure.Data/MystiraAppDbContext.cs
Due: none

fix(infrastructure): ignore StringEnum value objects in EF Core configuration
  packages/infrastructure/Mystira.Infrastructure.Data/MystiraAppDbContext.cs
Due: none

fix(infrastructure): properly persist ScenarioCharacterMetadata
  packages/application/Mystira.Application/Mappers/ScenarioMapper.cs
  packages/application/Mystira.Application/Parsers/CharacterMetadataParser.cs
  packages/domain/Mystira.Domain/Models/ScenarioTypes.cs
  packages/infrastructure/Mystira.Infrastructure.Data/MystiraAppDbContext.cs
Due: dotnet-domain, dotnet-application, .NET Domain, .NET Application

fix(infrastructure): add missing EchoType ignore in EchoHistory configuration
  packages/infrastructure/Mystira.Infrastructure.Data/MystiraAppDbContext.cs
Due: none

feat(domain): add Species, CharacterTrait, CharacterRole StringEnum value objects
  packages/application/Mystira.Application/Mappers/ScenarioMapper.cs
  packages/application/Mystira.Application/Parsers/CharacterMetadataParser.cs
  packages/domain/Mystira.Domain/Models/ScenarioTypes.cs
  packages/domain/Mystira.Domain/ValueObjects/CharacterRole.cs
  packages/domain/Mystira.Domain/ValueObjects/CharacterTrait.cs
  packages/domain/Mystira.Domain/ValueObjects/Species.cs
  packages/infrastructure/Mystira.Infrastructure.Data/MystiraAppDbContext.cs
Due: dotnet-domain, dotnet-application, .NET Domain, .NET Application

fix(domain): use fully qualified type names to avoid property shadowing
  packages/domain/Mystira.Domain/Models/ScenarioTypes.cs
Due: dotnet-domain, .NET Domain

fix(application): convert value objects to strings in ScenarioParser
  packages/application/Mystira.Application/Parsers/ScenarioParser.cs
Due: dotnet-application, .NET Application

fix(application): convert value objects to strings in GetCharacterQueryHandler
  packages/application/Mystira.Application/CQRS/Characters/Queries/GetCharacterQueryHandler.cs
Due: dotnet-application, .NET Application

fix(application): revert GetCharacterQueryHandler - metadata is already strings
  packages/application/Mystira.Application/CQRS/Characters/Queries/GetCharacterQueryHandler.cs
Due: dotnet-application, .NET Application

Fix Archetype constructor configuration in DbContext (#493)
  packages/application/Mystira.Application/Mappers/ScenarioMapper.cs
  packages/application/Mystira.Application/Parsers/CharacterMetadataParser.cs
  packages/application/Mystira.Application/Parsers/ScenarioParser.cs
  packages/domain/Mystira.Domain/Models/ScenarioTypes.cs
  packages/domain/Mystira.Domain/ValueObjects/CharacterRole.cs
  packages/domain/Mystira.Domain/ValueObjects/CharacterTrait.cs
  packages/domain/Mystira.Domain/ValueObjects/Species.cs
  packages/infrastructure/Mystira.Infrastructure.Data/MystiraAppDbContext.cs
Due: dotnet-domain, dotnet-application, .NET Domain, .NET Application

docs(domain): add comprehensive documentation for ScenarioCharacterMetadata
  packages/domain/Mystira.Domain/Models/ScenarioTypes.cs
Due: dotnet-domain, .NET Domain

Claude/fix archetype constructor m8 x7u (#494)
  packages/domain/Mystira.Domain/Models/ScenarioTypes.cs
Due: dotnet-domain, .NET Domain

fix(infrastructure): configure CompassChanges collections as owned
  packages/infrastructure/Mystira.Infrastructure.Data/MystiraAppDbContext.cs
Due: none

refactor(authoring): use Domain types instead of duplicates
  packages/authoring/Mystira.Authoring.Abstractions/Models/Scenario/Branch.cs
  packages/authoring/Mystira.Authoring.Abstractions/Models/Scenario/Scenario.cs
  packages/authoring/Mystira.Authoring.Abstractions/Models/Scenario/ScenarioCharacter.cs
  packages/authoring/Mystira.Authoring.Abstractions/Models/Scenario/Scene.cs
  packages/authoring/Mystira.Authoring.Abstractions/Mystira.Authoring.Abstractions.csproj
Due: none

refactor(domain): remove CompassChangeDto, use CompassChange entity everywhere
  packages/application/Mystira.Application/CQRS/Badges/Queries/CalculateBadgeScoresQueryHandler.cs
  packages/application/Mystira.Application/Mappers/ScenarioMapper.cs
  packages/application/Mystira.Application/Parsers/BranchParser.cs
  packages/authoring/Mystira.Authoring.Abstractions/Models/Scenario/Branch.cs
  packages/domain/Mystira.Domain/Models/Scenario.cs
Due: dotnet-domain, dotnet-application, .NET Domain, .NET Application

fix(application): update ScenarioParser to use AxisId and convert Delta
  packages/application/Mystira.Application/Parsers/ScenarioParser.cs
Due: dotnet-application, .NET Application

fix(application): update MakeChoiceUseCase to use AxisId
  packages/application/Mystira.Application/UseCases/GameSessions/MakeChoiceUseCase.cs
Due: dotnet-application, .NET Application

fix(authoring): add Domain.Enums import to test file for SceneType
  packages/authoring/Mystira.Authoring.Tests/ScenarioGraphBuilderTests.cs
Due: none

fix(authoring): update test to use Domain SceneType enum values
  packages/authoring/Mystira.Authoring.Tests/ScenarioGraphBuilderTests.cs
Due: none

fix(domain): add JsonPropertyName attributes for CharacterMetadata aliases
  packages/domain/Mystira.Domain/Models/MetadataModels.cs
Due: dotnet-domain, .NET Domain

Claude/fix archetype constructor m8 x7u (#495)
  packages/application/Mystira.Application/CQRS/Badges/Queries/CalculateBadgeScoresQueryHandler.cs
  packages/application/Mystira.Application/Mappers/ScenarioMapper.cs
  packages/application/Mystira.Application/Parsers/BranchParser.cs
  packages/application/Mystira.Application/Parsers/ScenarioParser.cs
  packages/application/Mystira.Application/UseCases/GameSessions/MakeChoiceUseCase.cs
  packages/authoring/Mystira.Authoring.Abstractions/Models/Scenario/Branch.cs
  packages/authoring/Mystira.Authoring.Abstractions/Models/Scenario/Scenario.cs
  packages/authoring/Mystira.Authoring.Abstractions/Models/Scenario/ScenarioCharacter.cs
  packages/authoring/Mystira.Authoring.Abstractions/Models/Scenario/Scene.cs
  packages/authoring/Mystira.Authoring.Abstractions/Mystira.Authoring.Abstractions.csproj
  packages/authoring/Mystira.Authoring.Tests/ScenarioGraphBuilderTests.cs
  packages/domain/Mystira.Domain/Models/MetadataModels.cs
  packages/domain/Mystira.Domain/Models/Scenario.cs
  packages/infrastructure/Mystira.Infrastructure.Data/MystiraAppDbContext.cs
Due: dotnet-domain, dotnet-application, .NET Domain, .NET Application

fix(infrastructure): configure CharacterMap navigation and owned properties
  packages/infrastructure/Mystira.Infrastructure.Data/MystiraAppDbContext.cs
Due: none

fix(infrastructure): ignore navigation and computed properties in EF Core config
  packages/infrastructure/Mystira.Infrastructure.Data/MystiraAppDbContext.cs
Due: none

Claude/fix archetype constructor m8 x7u (#496)
  packages/infrastructure/Mystira.Infrastructure.Data/MystiraAppDbContext.cs
Due: none

fix(infrastructure): remove conflicting CompassTracking entity configuration
  packages/infrastructure/Mystira.Infrastructure.Data/MystiraAppDbContext.cs
Due: none

Claude/fix archetype constructor m8 x7u (#504)
  packages/infrastructure/Mystira.Infrastructure.Data/MystiraAppDbContext.cs
Due: none

refactor(authoring): remove MediatR dependency, migrate to Wolverine
  packages/authoring/Mystira.Authoring.Abstractions/Commands/ICommand.cs
  packages/authoring/Mystira.Authoring.Abstractions/Commands/ICommandHandler.cs
  packages/authoring/Mystira.Authoring.Abstractions/Mystira.Authoring.Abstractions.csproj
  packages/authoring/Mystira.Authoring/Extensions/ServiceCollectionExtensions.cs
  packages/authoring/Mystira.Authoring/Mystira.Authoring.csproj
Due: none

fix: address CodeRabbit review feedback
  packages/domain/Mystira.Domain/Models/MetadataModels.cs
  packages/infrastructure/Mystira.Infrastructure.Data/MystiraAppDbContext.cs
Due: dotnet-domain, .NET Domain

Claude/fix archetype constructor m8 x7u (#505)
  packages/authoring/Mystira.Authoring.Abstractions/Commands/ICommand.cs
  packages/authoring/Mystira.Authoring.Abstractions/Commands/ICommandHandler.cs
  packages/authoring/Mystira.Authoring.Abstractions/Mystira.Authoring.Abstractions.csproj
  packages/authoring/Mystira.Authoring/Extensions/ServiceCollectionExtensions.cs
  packages/authoring/Mystira.Authoring/Mystira.Authoring.csproj
  packages/domain/Mystira.Domain/Models/MetadataModels.cs
  packages/infrastructure/Mystira.Infrastructure.Data/MystiraAppDbContext.cs
Due: dotnet-domain, .NET Domain

fix(infrastructure): configure CharacterMap.CompassTracking owned properties
  packages/infrastructure/Mystira.Infrastructure.Data/MystiraAppDbContext.cs
Due: none

Claude/fix archetype constructor m8 x7u (#506)
  packages/infrastructure/Mystira.Infrastructure.Data/MystiraAppDbContext.cs
Due: none

fix(infrastructure): resolve EF Core warnings
  packages/infrastructure/Mystira.Infrastructure.Data/MystiraAppDbContext.cs
Due: none

refactor(infrastructure): seed master data from value objects instead of JSON
  packages/infrastructure/Mystira.Infrastructure.Data/Services/MasterDataSeederService.cs
Due: none

fixed foundry ai config
  src/Mystira.StoryGenerator.Api/appsettings.Development.json
  src/Mystira.StoryGenerator.Api/appsettings.json
  src/Mystira.StoryGenerator.RagIndexer/appsettings.json
Due: none

fix: address CodeRabbit review feedback
  packages/application/Mystira.Application/UseCases/GameSessions/MakeChoiceUseCase.cs
  packages/application/Mystira.Application/UseCases/Scenarios/ValidateScenarioUseCase.cs
  packages/authoring/Mystira.Authoring/Extensions/ServiceCollectionExtensions.cs
  packages/domain/Mystira.Domain/Models/MetadataModels.cs
Due: dotnet-domain, dotnet-application, .NET Domain, .NET Application

Path conditions:
  typescript: any of: packages/shared-utils/, packages/admin-ui/, packages/publisher/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-core: any of: packages/core/Mystira.Core/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-shared: any of: packages/shared/Mystira.Shared/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-domain: any of: packages/domain/Mystira.Domain/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-application: any of: packages/application/Mystira.Application/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-contracts: any of: packages/contracts/dotnet/Mystira.Contracts/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  TypeScript Packages: any of: packages/shared-utils/**, packages/admin-ui/**, packages/publisher/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Core: any of: packages/core/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Shared: any of: packages/shared/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Domain: any of: packages/domain/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Application: any of: packages/application/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Contracts: any of: packages/contracts/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
