Repository phoenixvc/Mystira.workspace: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, dotnet-core, dotnet-shared, dotnet-domain, dotnet-application, dotnet-contracts, TypeScript Packages, .NET Core, .NET Shared, .NET Domain, .NET Application, .NET Contracts

fix: update ScenarioGraphBuilder to use immutable DirectedGraph API
  packages/authoring/Mystira.Authoring/Graph/ScenarioGraphBuilder.cs
Due: none

fix: add missing using Xunit and fix IEdge property name in tests
  packages/authoring/Mystira.Authoring.Tests/ScenarioGraphBuilderTests.cs
Due: none

fix: update GraphTheory tests to use immutable DirectedGraph API
  packages/shared/Mystira.Shared.Tests/GraphTheory/DirectedGraphTests.cs
  packages/shared/Mystira.Shared.Tests/GraphTheory/PathAlgorithmsTests.cs
  packages/shared/Mystira.Shared.Tests/GraphTheory/SearchAlgorithmsTests.cs
  packages/shared/Mystira.Shared.Tests/GraphTheory/SortAlgorithmsTests.cs
Due: none

fix: add NuGet push step to packages-publish workflow
  .github/workflows/packages-publish.yml
Due: none

fix: use GH_PACKAGES_TOKEN for NuGet publish authentication
  .github/workflows/packages-publish.yml
Due: none

Claude/review workspace packages se i6v (#477)
  .github/workflows/packages-publish.yml
Due: none

chore: add comment to packages-publish workflow
  .github/workflows/packages-publish.yml
Due: none

chore: add package description comments to csproj files
  packages/ai/Mystira.Ai/Mystira.Ai.csproj
  packages/authoring/Mystira.Authoring/Mystira.Authoring.csproj
Due: none

Claude/review workspace packages se i6v (#478)
  .github/workflows/packages-publish.yml
  packages/ai/Mystira.Ai/Mystira.Ai.csproj
  packages/authoring/Mystira.Authoring/Mystira.Authoring.csproj
Due: none

fix: align packages-publish workflow with ci.yml pattern
  .github/workflows/packages-publish.yml
Due: none

Claude/review workspace packages se i6v (#479)
  .github/workflows/packages-publish.yml
Due: none

fix: add pack and push steps to all package workflows
  .github/workflows/packages-ai.yml
  .github/workflows/packages-authoring.yml
  .github/workflows/packages-shared.yml
Due: none

feat: add packages-contracts.yml workflow for Mystira.Contracts CI/publish
  .github/workflows/packages-contracts.yml
Due: none

fix: centralize package publishing in packages-publish.yml
  .github/workflows/packages-ai.yml
  .github/workflows/packages-authoring.yml
  .github/workflows/packages-contracts.yml
  .github/workflows/packages-publish.yml
  .github/workflows/packages-shared.yml
Due: none

Claude/review workspace packages se i6v (#480)
  .github/workflows/packages-ai.yml
  .github/workflows/packages-authoring.yml
  .github/workflows/packages-contracts.yml
  .github/workflows/packages-publish.yml
  .github/workflows/packages-shared.yml
Due: none

chore: trigger CI to verify workflow
  packages/ai/Mystira.Ai/Mystira.Ai.csproj
Due: none

fix: trigger packages-publish on push to main with package changes
  .github/workflows/packages-publish.yml
Due: none

fix: use dev branch for package publishing trigger
  .github/workflows/packages-publish.yml
Due: none

Claude/review workspace packages se i6v (#481)
  .github/workflows/packages-publish.yml
  packages/ai/Mystira.Ai/Mystira.Ai.csproj
Due: none

fix: add missing README.md for Mystira.Ai package
  packages/ai/Mystira.Ai/README.md
Due: none

Claude/review workspace packages se i6v (#482)
  packages/ai/Mystira.Ai/README.md
Due: none

Add Source Link configuration to Mystira.Ai package
  packages/ai/Mystira.Ai/Mystira.Ai.csproj
Due: none

Add Source Link configuration to Mystira.Ai package (#483)
  packages/ai/Mystira.Ai/Mystira.Ai.csproj
Due: none

Restore and extend packages-publish.yml workflow
  .github/workflows/packages-publish.yml
  packages/ai/Mystira.Ai/Mystira.Ai.csproj
Due: none

Restore and extend packages-publish.yml workflow (#484)
  .github/workflows/packages-publish.yml
Due: none

Trigger: test ai and authoring publish workflow
  packages/ai/Mystira.Ai/Mystira.Ai.csproj
  packages/authoring/Mystira.Authoring/Mystira.Authoring.csproj
Due: none

Claude/push nuget package dy4h d (#485)
  packages/ai/Mystira.Ai/Mystira.Ai.csproj
  packages/authoring/Mystira.Authoring/Mystira.Authoring.csproj
Due: none

Add story continuity DTOs and LLM service interfaces
  packages/authoring/Mystira.Authoring.Abstractions/Llm/IDominatorPathConsistencyLlmService.cs
  packages/authoring/Mystira.Authoring.Abstractions/Llm/IEntityLlmClassificationService.cs
  packages/authoring/Mystira.Authoring.Abstractions/Llm/IPrefixSummaryLlmService.cs
  packages/authoring/Mystira.Authoring.Abstractions/Llm/ISemanticRoleLabellingLlmService.cs
  packages/authoring/Mystira.Authoring.Abstractions/Services/IScenarioEntityConsistencyEvaluationService.cs
  packages/contracts/dotnet/Mystira.Contracts/StoryGenerator/StoryConsistency/ContinuityOperationContracts.cs
  packages/contracts/dotnet/Mystira.Contracts/StoryGenerator/StoryConsistency/DominatorPathContracts.cs
  packages/contracts/dotnet/Mystira.Contracts/StoryGenerator/StoryConsistency/StoryContinuityContracts.cs
Due: dotnet-contracts, .NET Contracts

Add story continuity DTOs and LLM service interfaces (#486)
  packages/authoring/Mystira.Authoring.Abstractions/Llm/IDominatorPathConsistencyLlmService.cs
  packages/authoring/Mystira.Authoring.Abstractions/Llm/IEntityLlmClassificationService.cs
  packages/authoring/Mystira.Authoring.Abstractions/Llm/IPrefixSummaryLlmService.cs
  packages/authoring/Mystira.Authoring.Abstractions/Llm/ISemanticRoleLabellingLlmService.cs
  packages/authoring/Mystira.Authoring.Abstractions/Services/IScenarioEntityConsistencyEvaluationService.cs
  packages/contracts/dotnet/Mystira.Contracts/StoryGenerator/StoryConsistency/ContinuityOperationContracts.cs
  packages/contracts/dotnet/Mystira.Contracts/StoryGenerator/StoryConsistency/DominatorPathContracts.cs
  packages/contracts/dotnet/Mystira.Contracts/StoryGenerator/StoryConsistency/StoryContinuityContracts.cs
Due: dotnet-contracts, .NET Contracts

Fix EntityId.NewId() ArgumentOutOfRangeException
  packages/domain/Mystira.Domain/Entities/EntityId.cs
Due: dotnet-domain, .NET Domain

Fix EntityId.NewId() ArgumentOutOfRangeException (#487)
  packages/domain/Mystira.Domain/Entities/EntityId.cs
Due: dotnet-domain, .NET Domain

Add missing story continuity service interfaces
  packages/authoring/Mystira.Authoring.Abstractions/Services/IPrefixSummaryService.cs
  packages/authoring/Mystira.Authoring.Abstractions/Services/IScenarioConsistencyEvaluationService.cs
  packages/authoring/Mystira.Authoring.Abstractions/Services/IScenarioDominatorPathConsistencyEvaluationService.cs
  packages/authoring/Mystira.Authoring.Abstractions/Services/IScenarioSrlAnalysisService.cs
Due: none

Update EntityId to use accurate docs and crypto-secure random
  packages/domain/Mystira.Domain/Entities/EntityId.cs
Due: dotnet-domain, .NET Domain

Fix ambiguous ConsistencyEvaluationResult reference
  packages/authoring/Mystira.Authoring.Abstractions/Services/IScenarioConsistencyEvaluationService.cs
Due: none

Claude/add storyprotocol coverage ngm0l (#488)
  packages/authoring/Mystira.Authoring.Abstractions/Services/IPrefixSummaryService.cs
  packages/authoring/Mystira.Authoring.Abstractions/Services/IScenarioConsistencyEvaluationService.cs
  packages/authoring/Mystira.Authoring.Abstractions/Services/IScenarioDominatorPathConsistencyEvaluationService.cs
  packages/authoring/Mystira.Authoring.Abstractions/Services/IScenarioSrlAnalysisService.cs
  packages/domain/Mystira.Domain/Entities/EntityId.cs
Due: dotnet-domain, .NET Domain

Rename ConsistencyEvaluationResult to PathConsistencyResult
  packages/authoring/Mystira.Authoring.Abstractions/Models/Consistency/PathConsistencyResult.cs
  packages/authoring/Mystira.Authoring.Abstractions/Services/IConsistencyEvaluationService.cs
  packages/authoring/Mystira.Authoring.Abstractions/Services/IScenarioConsistencyEvaluationService.cs
  packages/authoring/Mystira.Authoring.Abstractions/Services/StoryConsistencyEvaluation.cs
  packages/authoring/Mystira.Authoring/Services/ConsistencyEvaluationService.cs
Due: none

Claude/add storyprotocol coverage ngm0l (#489)
  packages/authoring/Mystira.Authoring.Abstractions/Models/Consistency/PathConsistencyResult.cs
  packages/authoring/Mystira.Authoring.Abstractions/Services/IConsistencyEvaluationService.cs
  packages/authoring/Mystira.Authoring.Abstractions/Services/IScenarioConsistencyEvaluationService.cs
  packages/authoring/Mystira.Authoring.Abstractions/Services/StoryConsistencyEvaluation.cs
  packages/authoring/Mystira.Authoring/Services/ConsistencyEvaluationService.cs
Due: none

Fix readonly model properties and add missing types
  packages/application/Mystira.Application/Ports/Data/IPendingSignupRepository.cs
  packages/domain/Mystira.Domain/Models/Badge.cs
  packages/domain/Mystira.Domain/Models/PendingSignup.cs
  packages/domain/Mystira.Domain/ValueObjects/AgeGroup.cs
  packages/shared/Mystira.Shared/Utilities/RandomNameGenerator.cs
Due: dotnet-shared, dotnet-domain, dotnet-application, .NET Shared, .NET Domain, .NET Application

Remove PendingSignup - no longer used for auth
  packages/application/Mystira.Application/Ports/Data/IPendingSignupRepository.cs
  packages/domain/Mystira.Domain/Models/PendingSignup.cs
Due: dotnet-domain, dotnet-application, .NET Domain, .NET Application

Path conditions:
  typescript: any of: packages/shared-utils/, packages/admin-ui/, packages/publisher/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-core: any of: packages/core/Mystira.Core/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-shared: any of: packages/shared/Mystira.Shared/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-domain: any of: packages/domain/Mystira.Domain/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-application: any of: packages/application/Mystira.Application/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-contracts: any of: packages/contracts/dotnet/Mystira.Contracts/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  TypeScript Packages: any of: packages/shared-utils/**, packages/admin-ui/**, packages/publisher/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Core: any of: packages/core/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Shared: any of: packages/shared/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Domain: any of: packages/domain/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Application: any of: packages/application/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Contracts: any of: packages/contracts/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
