Repository phoenixvc/Mystira.workspace: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, dotnet-core, dotnet-shared, dotnet-domain, dotnet-application, dotnet-contracts, TypeScript Packages, .NET Core, .NET Shared, .NET Domain, .NET Application, .NET Contracts

chore(contracts): trigger package publish with NuGet badge (#535)
  packages/contracts/dotnet/Mystira.Contracts/README.md
Due: dotnet-contracts, .NET Contracts

feat(contracts): add StoryVersionSnapshot to Agents.Sessions
  packages/contracts/dotnet/Mystira.Contracts/Agents/Sessions/StoryVersionSnapshot.cs
Due: dotnet-contracts, .NET Contracts

feat(contracts): add StoryGenerator session models
  packages/contracts/dotnet/Mystira.Contracts/StoryGenerator/Sessions/KnowledgeMode.cs
  packages/contracts/dotnet/Mystira.Contracts/StoryGenerator/Sessions/SessionModels.cs
Due: dotnet-contracts, .NET Contracts

Claude/add story version snapshot oj1l8 (#536)
  packages/contracts/dotnet/Mystira.Contracts/Agents/Sessions/StoryVersionSnapshot.cs
  packages/contracts/dotnet/Mystira.Contracts/StoryGenerator/Sessions/KnowledgeMode.cs
  packages/contracts/dotnet/Mystira.Contracts/StoryGenerator/Sessions/SessionModels.cs
Due: dotnet-contracts, .NET Contracts

fix(contracts): remove default initializer from CreatedAt property
  packages/contracts/dotnet/Mystira.Contracts/Agents/Sessions/StoryVersionSnapshot.cs
Due: dotnet-contracts, .NET Contracts

fix(deps): downgrade Microsoft packages to 9.x for .NET 9 compatibility
  packages/ai/Mystira.Ai/Mystira.Ai.csproj
  packages/application/Mystira.Application/Mystira.Application.csproj
  packages/authoring/Mystira.Authoring.Abstractions/Mystira.Authoring.Abstractions.csproj
  packages/authoring/Mystira.Authoring/Mystira.Authoring.csproj
  packages/infrastructure/Mystira.Infrastructure.Azure/Mystira.Infrastructure.Azure.csproj
  packages/infrastructure/Mystira.Infrastructure.Data.Tests/Mystira.Infrastructure.Data.Tests.csproj
  packages/infrastructure/Mystira.Infrastructure.Data/Mystira.Infrastructure.Data.csproj
  packages/infrastructure/Mystira.Infrastructure.Discord/Mystira.Infrastructure.Discord.csproj
  packages/infrastructure/Mystira.Infrastructure.Payments/Mystira.Infrastructure.Payments.csproj
  packages/infrastructure/Mystira.Infrastructure.StoryProtocol/Mystira.Infrastructure.StoryProtocol.csproj
  packages/shared/Mystira.Shared/Mystira.Shared.csproj
Due: dotnet-shared, dotnet-application, .NET Shared, .NET Application

fix(workflows): address CodeRabbit review issues
  .github/workflows/_build-dotnet.yml
  .github/workflows/_ci-gate.yml
  .github/workflows/_rollback.yml
  .github/workflows/_test-integration.yml
  .github/workflows/_test-unit.yml
  .github/workflows/monitor-health.yml
  .github/workflows/monitor-sla.yml
  .github/workflows/test-contract.yml
  .github/workflows/test-e2e.yml
  packages/contracts/dotnet/Mystira.Contracts/Agents/Sessions/StoryVersionSnapshot.cs
Due: dotnet-contracts, .NET Contracts

fix(deps): upgrade Microsoft packages to 9.0.8 to match transitive dependencies
  packages/ai/Mystira.Ai/Mystira.Ai.csproj
  packages/application/Mystira.Application/Mystira.Application.csproj
  packages/authoring/Mystira.Authoring.Abstractions/Mystira.Authoring.Abstractions.csproj
  packages/authoring/Mystira.Authoring/Mystira.Authoring.csproj
  packages/infrastructure/Mystira.Infrastructure.Azure/Mystira.Infrastructure.Azure.csproj
  packages/infrastructure/Mystira.Infrastructure.Data.Tests/Mystira.Infrastructure.Data.Tests.csproj
  packages/infrastructure/Mystira.Infrastructure.Data/Mystira.Infrastructure.Data.csproj
  packages/infrastructure/Mystira.Infrastructure.Discord/Mystira.Infrastructure.Discord.csproj
  packages/infrastructure/Mystira.Infrastructure.Payments/Mystira.Infrastructure.Payments.csproj
  packages/infrastructure/Mystira.Infrastructure.StoryProtocol/Mystira.Infrastructure.StoryProtocol.csproj
  packages/shared/Mystira.Shared/Mystira.Shared.csproj
Due: dotnet-shared, dotnet-application, .NET Shared, .NET Application

fix(deps): revert Npgsql.EntityFrameworkCore.PostgreSQL to 9.0.4
  packages/infrastructure/Mystira.Infrastructure.Data/Mystira.Infrastructure.Data.csproj
Due: none

fix(contracts): remove required keyword from CreatedAt to avoid breaking API change
  packages/contracts/dotnet/Mystira.Contracts/Agents/Sessions/StoryVersionSnapshot.cs
Due: dotnet-contracts, .NET Contracts

fix(ci): remove pnpm version conflict in deploy-admin-ui-swa workflow
  .github/workflows/deploy-admin-ui-swa.yml
Due: none

fix(ci): remove pnpm version conflict in deploy-admin-ui-swa workflow (#539)
  .github/workflows/deploy-admin-ui-swa.yml
Due: none

chore: update pnpm-lock.yaml with admin-ui dependencies
  pnpm-lock.yaml
Due: none

fix(workspace): use single-line JSON in monitor-health workflow GITHUB_OUTPUT
  .github/workflows/monitor-health.yml
Due: none

Claude/deploy admin UI swa vu8v6 (#540)
  .github/workflows/monitor-health.yml
  pnpm-lock.yaml
Due: none

chore(workspace): consolidate stale branch changes
  .github/workflows/_build-dotnet.yml
  .github/workflows/_ci-gate.yml
  .github/workflows/_rollback.yml
  .github/workflows/_test-integration.yml
  .github/workflows/_test-unit.yml
  .github/workflows/monitor-sla.yml
  .github/workflows/test-contract.yml
  .github/workflows/test-e2e.yml
  packages/ai/Mystira.Ai/Mystira.Ai.csproj
  packages/application/Mystira.Application/Mystira.Application.csproj
  packages/authoring/Mystira.Authoring/Mystira.Authoring.csproj
  packages/infrastructure/Mystira.Infrastructure.Azure/Mystira.Infrastructure.Azure.csproj
  packages/infrastructure/Mystira.Infrastructure.Data.Tests/Mystira.Infrastructure.Data.Tests.csproj
  packages/infrastructure/Mystira.Infrastructure.Data/Mystira.Infrastructure.Data.csproj
  packages/infrastructure/Mystira.Infrastructure.Discord/Mystira.Infrastructure.Discord.csproj
  packages/infrastructure/Mystira.Infrastructure.Payments/Mystira.Infrastructure.Payments.csproj
  packages/infrastructure/Mystira.Infrastructure.StoryProtocol/Mystira.Infrastructure.StoryProtocol.csproj
  packages/shared/Mystira.Shared/Mystira.Shared.csproj
Due: dotnet-shared, dotnet-application, .NET Shared, .NET Application

fix(workspace): revert Microsoft 10.x packages (incompatible with net9.0)
  packages/ai/Mystira.Ai/Mystira.Ai.csproj
  packages/application/Mystira.Application/Mystira.Application.csproj
  packages/authoring/Mystira.Authoring/Mystira.Authoring.csproj
  packages/infrastructure/Mystira.Infrastructure.Azure/Mystira.Infrastructure.Azure.csproj
  packages/infrastructure/Mystira.Infrastructure.Data.Tests/Mystira.Infrastructure.Data.Tests.csproj
  packages/infrastructure/Mystira.Infrastructure.Data/Mystira.Infrastructure.Data.csproj
  packages/infrastructure/Mystira.Infrastructure.Discord/Mystira.Infrastructure.Discord.csproj
  packages/infrastructure/Mystira.Infrastructure.Payments/Mystira.Infrastructure.Payments.csproj
  packages/infrastructure/Mystira.Infrastructure.StoryProtocol/Mystira.Infrastructure.StoryProtocol.csproj
  packages/shared/Mystira.Shared/Mystira.Shared.csproj
Due: dotnet-shared, dotnet-application, .NET Shared, .NET Application

chore(workspace): consolidate stale branch changes (#541)
  .github/workflows/_build-dotnet.yml
  .github/workflows/_ci-gate.yml
  .github/workflows/_rollback.yml
  .github/workflows/_test-integration.yml
  .github/workflows/_test-unit.yml
  .github/workflows/monitor-sla.yml
  .github/workflows/test-contract.yml
  .github/workflows/test-e2e.yml
Due: none

fix(workspace): address PR review workflow issues
  .github/workflows/_ci-gate.yml
  .github/workflows/_test-integration.yml
  .github/workflows/_test-unit.yml
  .github/workflows/test-contract.yml
Due: none

Claude/consolidate stale branches vu8v6 (#542)
  .github/workflows/_ci-gate.yml
  .github/workflows/_test-integration.yml
  .github/workflows/_test-unit.yml
  .github/workflows/test-contract.yml
Due: none

fix: update Microsoft.Identity.Web to 4.3.0 for Mystira.Shared compatibility
  src/Mystira.Admin.Api/Mystira.Admin.Api.csproj
Due: none

fix: properly gate integration tests on unit test completion
  .github/workflows/test-integration.yml
Due: none

fix: pin third-party security actions to specific versions
  .github/workflows/security-scan.yml
Due: none

fix(contracts): resolve duplicate type definition errors
  packages/contracts/dotnet/Mystira.Contracts/StoryGenerator/Stories/StoryValidationResult.cs
  packages/contracts/dotnet/Mystira.Contracts/StoryGenerator/StoryConsistency/DominatorPathAnalysisResult.cs
Due: dotnet-contracts, .NET Contracts

fix(shared): remove duplicate GraphTheory types
  packages/shared/Mystira.Shared/GraphTheory/Algorithms/GraphAlgorithms.cs
  packages/shared/Mystira.Shared/GraphTheory/Graph/DataFlowNode.cs
  packages/shared/Mystira.Shared/GraphTheory/Graph/DirectedGraph.cs
  packages/shared/Mystira.Shared/GraphTheory/Graph/Edge.cs
  packages/shared/Mystira.Shared/GraphTheory/Graph/IEdge.cs
Due: dotnet-shared, .NET Shared

Update packages/contracts/dotnet/Mystira.Contracts/StoryGenerator/Stories/Scene.cs
  packages/contracts/dotnet/Mystira.Contracts/StoryGenerator/Stories/Scene.cs
Due: dotnet-contracts, .NET Contracts

Update packages/contracts/dotnet/Mystira.Contracts/StoryGenerator/Configuration/EmbeddingSettings.cs
  packages/contracts/dotnet/Mystira.Contracts/StoryGenerator/Configuration/EmbeddingSettings.cs
Due: dotnet-contracts, .NET Contracts

refactor(contracts): consolidate TokenUsage type and add missing JSON attributes
  packages/contracts/dotnet/Mystira.Contracts/StoryGenerator/Commands/Chat/FreeTextCommand.cs
  packages/contracts/dotnet/Mystira.Contracts/StoryGenerator/Commands/Stories/RefineStoryCommand.cs
  packages/contracts/dotnet/Mystira.Contracts/StoryGenerator/Commands/Stories/SummarizeStoryCommand.cs
  packages/contracts/dotnet/Mystira.Contracts/StoryGenerator/Commands/Stories/ValidateStoryCommand.cs
  packages/contracts/dotnet/Mystira.Contracts/StoryGenerator/Common/TokenUsage.cs
  packages/contracts/dotnet/Mystira.Contracts/StoryGenerator/Graph/IScenarioGraph.cs
Due: dotnet-contracts, .NET Contracts

chore(contracts): bump version to 0.6.0-alpha for breaking changes
  packages/contracts/dotnet/Mystira.Contracts/Mystira.Contracts.csproj
Due: dotnet-contracts, .NET Contracts

fix(contracts): remove extra closing brace in Scene.cs
  packages/contracts/dotnet/Mystira.Contracts/StoryGenerator/Stories/Scene.cs
Due: dotnet-contracts, .NET Contracts

fix(contracts): add missing TokenUsage import to AutoFixStoryJsonCommand
  packages/contracts/dotnet/Mystira.Contracts/StoryGenerator/Commands/Stories/AutoFixStoryJsonCommand.cs
Due: dotnet-contracts, .NET Contracts

docs: document StoryGenerator contracts and breaking changes in CHANGELOG
  CHANGELOG.md
Due: none

ci: allow breaking changes and skip npm auth for alpha releases
  .github/workflows/test-contract.yml
Due: none

fix(ci): handle missing submodule token in link checker workflow
  .github/workflows/utilities-link-checker.yml
Due: none

fix(ci): use GH_PAT token for link checker consistency
  .github/workflows/utilities-link-checker.yml
Due: none

Path conditions:
  typescript: any of: packages/shared-utils/, packages/admin-ui/, packages/publisher/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-core: any of: packages/core/Mystira.Core/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-shared: any of: packages/shared/Mystira.Shared/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-domain: any of: packages/domain/Mystira.Domain/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-application: any of: packages/application/Mystira.Application/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-contracts: any of: packages/contracts/dotnet/Mystira.Contracts/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  TypeScript Packages: any of: packages/shared-utils/**, packages/admin-ui/**, packages/publisher/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Core: any of: packages/core/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Shared: any of: packages/shared/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Domain: any of: packages/domain/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Application: any of: packages/application/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Contracts: any of: packages/contracts/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
