Repository phoenixvc/Mystira.workspace: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, dotnet-core, dotnet-shared, dotnet-domain, dotnet-application, dotnet-contracts, TypeScript Packages, .NET Core, .NET Shared, .NET Domain, .NET Application, .NET Contracts

Claude/review consolidate pipelines dog jo (#660)
  .github/workflows/README.md
  .github/workflows/_build-dotnet.yml
  .github/workflows/_ci-gate.yml
  .github/workflows/_infra-notify.yml
  .github/workflows/_rollback.yml
  .github/workflows/_test-integration.yml
  .github/workflows/_test-unit.yml
  .github/workflows/bind-custom-domains.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/infra-deploy.yml
  .github/workflows/infra-validate.yml
  .github/workflows/reusable-docker-build.yml
  .github/workflows/reusable-security-scan.yml
  .github/workflows/reusable-terraform.yml
  .github/workflows/security-scan-scheduled.yml
Due: none

fix: resolve merge conflict markers in workflow files
  .github/workflows/infra-terragrunt-validate.yml
  .github/workflows/packages-ai.yml
  .github/workflows/packages-authoring.yml
Due: none

chore(deps): consolidate dependency updates from PRs #651, #649, #622, #646, #628, #627
  package.json
  packages/app/tests/Mystira.App.PWA.Tests/Mystira.App.PWA.Tests.csproj
  packages/devhub/Cargo.toml
  pnpm-lock.yaml
Due: none

chore(deps): consolidate dependency updates from PRs #651, #649, #622, #646, #628, #627 (#661)
  package.json
  packages/app/tests/Mystira.App.PWA.Tests/Mystira.App.PWA.Tests.csproj
  packages/devhub/Cargo.toml
  pnpm-lock.yaml
Due: none

fix: resolve merge conflict markers and add YAML linting to CI/CD
  .github/copilot-instructions.md
  .github/dependabot.yml
  .github/workflows/infra-terragrunt-validate.yml
  .github/workflows/packages-ai.yml
  .github/workflows/packages-authoring.yml
  .github/workflows/secret-rotation-check.yml
  .github/workflows/workspace-ci.yml
  .yamllint.yml
  docker-compose.yml
  docs/infrastructure/azure-ai-foundry-rag-guide.md
  docs/infrastructure/entra-id-best-practices.md
Due: none

chore(deps): update all non-major dependencies across workspace
  packages/admin-ui/package.json
  packages/api-spec/package.json
  packages/contracts/package.json
  packages/core-types/package.json
  packages/design-tokens/package.json
  packages/devhub/Mystira.DevHub/package.json
  packages/devhub/Mystira.Leptos/package.json
  packages/publisher/package.json
  packages/shared-utils/package.json
  pnpm-lock.yaml
Due: typescript, TypeScript Packages, .NET Contracts

fix(infra): fix terraform formatting and remove unused variables
  infra/terraform/environments/dev/main.tf
  infra/terraform/environments/dev/mystira-app.tf
  infra/terraform/environments/prod/main.tf
  infra/terraform/environments/prod/mystira-app.tf
  infra/terraform/environments/staging/dns-records.tf
  infra/terraform/environments/staging/main.tf
  infra/terraform/environments/staging/mystira-app.tf
  infra/terraform/modules/admin-api/variables.tf
  infra/terraform/modules/admin-ui/variables.tf
  infra/terraform/modules/chain/variables.tf
  infra/terraform/modules/publisher/variables.tf
  infra/terraform/modules/story-generator/variables.tf
  infra/terraform/products/admin/environments/dev/main.tf
  infra/terraform/products/admin/environments/dev/terragrunt.hcl
  infra/terraform/products/admin/environments/prod/main.tf
  infra/terraform/products/admin/environments/prod/terragrunt.hcl
  infra/terraform/products/admin/environments/staging/main.tf
  infra/terraform/products/admin/environments/staging/terragrunt.hcl
Due: none

fix(deps): sync pnpm lockfile specifiers with workspace overrides
  pnpm-lock.yaml
Due: none

fix: gate loading indicator behind auth and use flexbox centering
  packages/app/src/Mystira.App.PWA/Components/AdventuresSection.razor
  packages/app/src/Mystira.App.PWA/Components/AdventuresSection.razor.css
  packages/app/tests/Mystira.App.PWA.Tests/Components/AdventuresSectionTests.cs
Due: none

fix: gate loading indicator behind auth and use flexbox centering (#684)
  packages/app/src/Mystira.App.PWA/Components/AdventuresSection.razor
  packages/app/src/Mystira.App.PWA/Components/AdventuresSection.razor.css
  packages/app/tests/Mystira.App.PWA.Tests/Components/AdventuresSectionTests.cs
Due: none

feat: add unique files from claude and consolidate_backlog branches
  configs/admin-ui-eslint-config.patch
  configs/admin-ui.eslint.config.mjs
  configs/admin-ui.eslintrc.cjs
  configs/admin-ui.vite.config.ts
  docs/architecture/adr/0020-package-consolidation-strategy.md
  docs/architecture/migrations/repository-architecture.md
  docs/architecture/migrations/user-domain-postgresql-migration.md
  docs/guides/package-releases.md
  docs/infrastructure/consolidation-plan.md
  docs/migrations/mystira-admin-ui-migration.md
  docs/migrations/mystira-devhub-migration.md
  docs/migrations/mystira-publisher-migration.md
  docs/planning/README.md
  docs/setup/README.md
  mystira-app-deprecation.patch
  mystira.code-workspace
Due: none

fix(workspace): restore build after branch integration
  packages/admin-api/src/Mystira.Admin.Api/Mystira.Admin.Api.csproj
  packages/admin-api/src/Mystira.Admin.Api/Program.cs
  packages/devhub/Mystira.DevHub/package.json
  packages/devhub/Mystira.DevHub/postcss.config.js
  pnpm-lock.yaml
Due: none

chore(workspace): pin local python interpreter settings
  .vscode/settings.json
  mystira.code-workspace
Due: none

chore(dotnet): remove package-level NuGet config files
  CONTRIBUTING.md
  docs/architecture/adr/0007-nuget-feed-strategy-for-shared-libraries.md
  docs/guides/package-management-strategy.md
  docs/guides/setup.md
  docs/migrations/mystira-infrastructure-migration.md
  packages/admin-api/NuGet.config
  packages/admin-api/docs/cicd/README.md
  packages/admin-api/docs/setup/nuget-feed-configuration.md
  packages/admin-api/nuget.config
  packages/app/NuGet.config
  packages/app/docs/setup/nuget-feed-setup.md
  packages/app/docs/setup/nuget-setup.md
  packages/app/docs/troubleshooting.md
  packages/app/nuget.config
  packages/devhub/nuget.config
  packages/shared/Mystira.Shared/Errors/TroubleshootingHelper.cs
Due: dotnet-shared, .NET Shared

chore(workspace): integration batch 3 (9 files)
  packages/devhub/rust-toolchain.toml
  packages/publisher/.gitignore
  packages/shared/Mystira.Shared/Data/Polyglot/IPolyglotRepository.cs
  packages/shared/Mystira.Shared/Data/Polyglot/PolyglotExtensions.cs
  packages/shared/Mystira.Shared/Data/Polyglot/PolyglotOptions.cs
  packages/shared/Mystira.Shared/Data/Polyglot/PolyglotRepository.cs
  packages/story-generator/.editorconfig
  packages/story-generator/.gitignore
  packages/story-generator/Directory.Build.props
Due: typescript, dotnet-shared, TypeScript Packages, .NET Shared

chore(workspace): ♻️ standardize workflow display names
  .github/workflows/_security-scan.yml
  .github/workflows/contracts-publish.yml
  .github/workflows/keyvault-secrets.yml
  .github/workflows/mystira-app-api-cicd-prod.yml
  .github/workflows/mystira-app-api-rollback.yml
  .github/workflows/security-scan.yml
  .github/workflows/shared-publish.yml
Due: none

style(workspace): 🎨 apply prettier formatting snapshot
  docs/adr/ADR-0020-ai-model-selection-strategy.md
  docs/adr/ADR-0021-specialized-edge-case-models.md
  docs/analysis/package-inventory.md
  docs/architecture/adr/0011-entra-id-authentication-integration.md
  docs/architecture/adr/0020-package-consolidation-strategy.md
  docs/cicd/publishing-flow.md
  docs/guides/README.md
  docs/guides/package-releases.md
  docs/infrastructure/README.md
  docs/infrastructure/azure-ai-foundry-rag-guide.md
  docs/infrastructure/entra-id-best-practices.md
Due: none

fix: remove unnecessary .NET 10.0 shared framework packages and fix nullable warnings
  packages/app/src/Mystira.App.Api/Mystira.App.Api.csproj
  packages/devhub/Mystira.DevHub.CLI/Mystira.DevHub.CLI.csproj
Due: none

chore: standardize test configuration and disable TreatWarningsAsErrors across projects
  packages/admin-ui/src/components/__tests__/TextInput.test.tsx
  packages/admin-ui/src/test/setup.ts
  packages/app/src/Mystira.App.PWA/Mystira.App.PWA.csproj
  packages/app/tests/Mystira.App.Api.Tests/Mystira.App.Api.Tests.csproj
  packages/app/tests/Mystira.App.Infrastructure.Data.Tests/Mystira.App.Infrastructure.Data.Tests.csproj
  packages/app/tests/Mystira.App.Infrastructure.Teams.Tests/Mystira.App.Infrastructure.Teams.Tests.csproj
  packages/app/tests/Mystira.App.Infrastructure.WhatsApp.Tests/Mystira.App.Infrastructure.WhatsApp.Tests.csproj
  packages/app/tests/Mystira.App.PWA.Tests/Mystira.App.PWA.Tests.csproj
  packages/application/Mystira.Application/Mystira.Application.csproj
  packages/contracts/dotnet/Mystira.Contracts.Tests/Mystira.Contracts.Tests.csproj
  packages/identity/src/Mystira.Identity.Api/Mystira.Identity.Api.csproj
  packages/infrastructure/Mystira.Infrastructure.StoryProtocol.Tests/Mystira.Infrastructure.StoryProtocol.Tests.csproj
  packages/shared/Mystira.Shared.Generators/Mystira.Shared.Generators.csproj
  packages/shared/Mystira.Shared/Mystira.Shared.csproj
  packages/story-generator/src/Mystira.StoryGenerator.Domain/Mystira.StoryGenerator.Domain.csproj
  packages/story-generator/tests/Mystira.StoryGenerator.Api.Tests/Mystira.StoryGenerator.Api.Tests.csproj
Due: typescript, dotnet-shared, dotnet-application, TypeScript Packages, .NET Shared, .NET Application

fix: update pnpm-lockfile to resolve CI/CD failures
  pnpm-lock.yaml
Due: none

feat: standardize package management and add comprehensive quality checks
  docs/guides/package-management-strategy.md
Due: none

fix: resolve lint and prettier issues
  .prettierignore
  docs/guides/package-management-strategy.md
  docs/history/.index.json
  packages/admin-ui/src/components/__tests__/TextInput.test.tsx
  packages/admin-ui/tsconfig.json
Due: typescript, TypeScript Packages

chore: update configuration files and improve documentation handling
  docs/history/.index.json
Due: none

chore: update TypeScript config and prettier ignore
  .prettierignore
  packages/admin-ui/tsconfig.json
Due: typescript, TypeScript Packages

feat: add unique files from claude and consolidate_backlog branches
  configs/admin-ui.vite.config.ts
  docs/architecture/adr/0020-package-consolidation-strategy.md
  docs/guides/package-releases.md
  docs/infrastructure/consolidation-plan.md
  docs/migrations/mystira-admin-ui-migration.md
  docs/migrations/mystira-devhub-migration.md
  docs/migrations/mystira-publisher-migration.md
  docs/planning/README.md
  mystira-app-deprecation.patch
  mystira.code-workspace
Due: none

feat(devhub): import leptos-tauri-frontend branch
  packages/devhub/Cargo.toml
  packages/devhub/Mystira.Leptos/package.json
  packages/devhub/Mystira.Leptos/tailwind.config.js
Due: none

docs: add branching strategy and branch protection rules
  .github/branch-protection-rules.json
  CONTRIBUTING.md
Due: none

fix(ci): resolve CI build failures
  .github/workflows/workspace-ci.yml
  global.json
  package.json
  packages/app/tests/Mystira.App.Application.Tests/Mystira.App.Application.Tests.csproj
  packages/devhub/Mystira.Leptos/package.json
Due: none

Path conditions:
  typescript: any of: packages/shared-utils/, packages/admin-ui/, packages/publisher/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-core: any of: packages/core/Mystira.Core/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-shared: any of: packages/shared/Mystira.Shared/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-domain: any of: packages/domain/Mystira.Domain/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-application: any of: packages/application/Mystira.Application/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-contracts: any of: packages/contracts/dotnet/Mystira.Contracts/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  TypeScript Packages: any of: packages/shared-utils/**, packages/admin-ui/**, packages/publisher/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Core: any of: packages/core/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Shared: any of: packages/shared/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Domain: any of: packages/domain/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Application: any of: packages/application/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Contracts: any of: packages/contracts/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
