Repository phoenixvc/Mystira.workspace: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, dotnet-core, dotnet-shared, dotnet-domain, dotnet-application, dotnet-contracts, TypeScript Packages, .NET Core, .NET Shared, .NET Domain, .NET Application, .NET Contracts

chore(workspace): ♻️ standardize workflow display names
  .github/workflows/_security-scan.yml
  .github/workflows/contracts-publish.yml
  .github/workflows/keyvault-secrets.yml
  .github/workflows/mystira-app-api-cicd-prod.yml
  .github/workflows/mystira-app-api-rollback.yml
  .github/workflows/security-scan.yml
  .github/workflows/shared-publish.yml
Due: none

chore(workspace): 🎨 apply prettier formatting across config and documentation files
  .github/workflows/contracts-publish.yml
  .github/workflows/deploy-app-api-production.yml
  .github/workflows/deploy-app-api-rollback.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/release.yml
  .github/workflows/reusable-docker-build.yml
  .github/workflows/reusable-security-scan.yml
  .github/workflows/reusable-terraform.yml
  .github/workflows/security-keyvault-secrets.yml
  .github/workflows/security-scan-scheduled.yml
  .github/workflows/shared-publish.yml
  .github/workflows/workspace-ci.yml
  docs/cicd/publishing-flow.md
  docs/guides/package-releases.md
Due: none

docs(migration): 📝 correct release workflow filenames in summary
  .commitlintrc.json
  MIGRATION_SUMMARY.md
Due: none

chore(workspace): flatten submodules into monorepo and update docs/workflows
  docs/analysis/package-inventory.md
  docs/guides/README.md
  packages/app/docs/domain/badge-system-v2.md
  packages/app/src/Mystira.App.PWA/wwwroot/appsettings.Local.json
  packages/publisher/vite.config.d.ts
  packages/publisher/vite.config.js
  packages/story-generator/docs/YAML_IMPORT_FEATURE.md
Due: typescript, TypeScript Packages

style(workflows): standardize YAML formatting and remove GitHub Packages NuGet auth
  .commitlintrc.json
  .github/workflows/_build-dotnet.yml
  .github/workflows/_test-integration.yml
  .github/workflows/_test-unit.yml
  .github/workflows/mystira-app-api-cicd-prod.yml
  .github/workflows/packages-ai.yml
  .github/workflows/packages-authoring.yml
  .github/workflows/packages-contracts.yml
  .github/workflows/packages-shared.yml
  .github/workflows/release.yml
  .github/workflows/secret-rotation-check.yml
  .github/workflows/test-contract.yml
  .gitignore
  docs/architecture/adr/0007-nuget-feed-strategy-for-shared-libraries.md
  docs/guides/package-releases.md
  mystira.code-workspace
  packages/admin-api/NuGet.config
  packages/admin-api/nuget.config
  packages/app/NuGet.config
  packages/app/nuget.config
  packages/devhub/nuget.config
Due: none

feat: add brand route and page components
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/secret-rotation-check.yml
  .vscode/settings.json
  BACKLOG.md
  cspell.json
  infra/docker/admin-api/Dockerfile
  infra/docker/app/Dockerfile
  infra/terraform/environments/dev/dns-records.tf
  infra/terraform/environments/staging/dns-records.tf
  infra/terraform/environments/staging/main.tf
  packages/admin-api/src/Mystira.Admin.Api/Controllers/GameSessionsController.cs
  packages/admin-api/src/Mystira.Admin.Api/Program.cs
  packages/admin-api/src/Mystira.Admin.Api/Services/Caching/RedisCacheService.cs
  packages/admin-api/src/Mystira.Admin.Api/Services/MediaApiService.cs
  packages/app/src/Mystira.App.PWA/Pages/Brand.razor
  packages/app/src/Mystira.App.PWA/Shared/BrandLayout.razor
  packages/app/src/Mystira.App.PWA/Shared/ButtonShowcase.razor
  packages/app/src/Mystira.App.PWA/Shared/MotionDemo.razor
  packages/app/src/Mystira.App.PWA/Shared/StatusDemo.razor
  packages/app/src/Mystira.App.PWA/Shared/TypographyShowcase.razor
  packages/app/src/Mystira.App.PWA/wwwroot/css/brand.css
  packages/app/src/Mystira.App.PWA/wwwroot/index.html
  packages/app/src/Mystira.App.PWA/wwwroot/js/brand-theme.js
  packages/contracts/package.json
Due: .NET Contracts

refactor: improve accessibility, cancellation handling, and code formatting
  infra/terraform/environments/dev/dns-records.tf
  packages/admin-api/src/Mystira.Admin.Api/Controllers/GameSessionsController.cs
  packages/admin-api/src/Mystira.Admin.Api/Services/Caching/RedisCacheService.cs
  packages/app/src/Mystira.App.PWA/Shared/StatusDemo.razor
  packages/app/src/Mystira.App.PWA/Shared/TypographyShowcase.razor
  packages/app/src/Mystira.App.PWA/wwwroot/css/brand.css
  packages/app/src/Mystira.App.PWA/wwwroot/index.html
Due: none

chore(deps): update package versions and suppress NU1605 warning
  packages/admin-api/src/Mystira.Admin.Api/Mystira.Admin.Api.csproj
  packages/app/src/Mystira.App.Api/Mystira.App.Api.csproj
  packages/app/src/Mystira.App.PWA/Mystira.App.PWA.csproj
  packages/devhub/Mystira.App.CosmosConsole/Mystira.App.CosmosConsole.csproj
  packages/devhub/Mystira.DevHub.Services/Mystira.DevHub.Services.csproj
  packages/shared/Mystira.Shared/Mystira.Shared.csproj
  packages/story-generator/src/Mystira.StoryGenerator.AgentSetup/Mystira.StoryGenerator.AgentSetup.csproj
  packages/story-generator/src/Mystira.StoryGenerator.Api/Mystira.StoryGenerator.Api.csproj
  packages/story-generator/src/Mystira.StoryGenerator.Console/Mystira.StoryGenerator.Console.csproj
  packages/story-generator/src/Mystira.StoryGenerator.Infrastructure/Mystira.StoryGenerator.Infrastructure.csproj
  packages/story-generator/src/Mystira.StoryGenerator.RagIndexer/Mystira.StoryGenerator.RagIndexer.csproj
Due: dotnet-shared, .NET Shared

fix: remove unnecessary .NET 10.0 shared framework packages and fix nullable warnings
  packages/app/src/Mystira.App.Api/Mystira.App.Api.csproj
  packages/app/src/Mystira.App.Domain/Mystira.App.Domain.csproj
  packages/app/src/Mystira.App.PWA/Pages/SignIn.razor
  packages/devhub/Mystira.DevHub.CLI/Mystira.DevHub.CLI.csproj
Due: none

chore: standardize test configuration and disable TreatWarningsAsErrors across projects
  package.json
  packages/admin-ui/package.json
  packages/admin-ui/src/components/__tests__/LoadingSpinner.test.tsx
  packages/admin-ui/src/components/__tests__/TextInput.test.tsx
  packages/admin-ui/src/test/setup.ts
  packages/admin-ui/vitest.config.ts
  packages/app/src/Mystira.App.PWA/Mystira.App.PWA.csproj
  packages/app/tests/Mystira.App.Api.Tests/Mystira.App.Api.Tests.csproj
  packages/app/tests/Mystira.App.Infrastructure.Data.Tests/Mystira.App.Infrastructure.Data.Tests.csproj
  packages/app/tests/Mystira.App.Infrastructure.Teams.Tests/Mystira.App.Infrastructure.Teams.Tests.csproj
  packages/app/tests/Mystira.App.Infrastructure.WhatsApp.Tests/Mystira.App.Infrastructure.WhatsApp.Tests.csproj
  packages/app/tests/Mystira.App.PWA.Tests/Mystira.App.PWA.Tests.csproj
  packages/application/Mystira.Application/Mystira.Application.csproj
  packages/chain/requirements.txt
  packages/contracts/dotnet/Mystira.Contracts.Tests/Mystira.Contracts.Tests.csproj
  packages/core-types/vitest.config.ts
  packages/devhub/Mystira.DevHub/src/components/__tests__/Dashboard.test.tsx
  packages/devhub/Mystira.DevHub/src/components/ui/feedback/components/OperationStatusBadge.tsx
  packages/devhub/Mystira.DevHub/src/test/setup.ts
  packages/devhub/Mystira.DevHub/src/test/utils.tsx
  packages/identity/src/Mystira.Identity.Api/Controllers/IdentityAuthController.cs
  packages/identity/src/Mystira.Identity.Api/Mystira.Identity.Api.csproj
  packages/infrastructure/Mystira.Infrastructure.StoryProtocol.Tests/Mystira.Infrastructure.StoryProtocol.Tests.csproj
  packages/shared/Mystira.Shared.Generators/Mystira.Shared.Generators.csproj
  packages/shared/Mystira.Shared/Mystira.Shared.csproj
  packages/story-generator/src/Mystira.StoryGenerator.Application/Mystira.StoryGenerator.Application.csproj
  packages/story-generator/src/Mystira.StoryGenerator.Domain/Mystira.StoryGenerator.Domain.csproj
  packages/story-generator/tests/Mystira.StoryGenerator.Api.Tests/Mystira.StoryGenerator.Api.Tests.csproj
  pnpm-workspace.yaml
  turbo.json
Due: typescript, dotnet-shared, dotnet-application, TypeScript Packages, .NET Shared, .NET Application

refactor: implement AuthorizationHandler to centralize auth header management
  packages/app/src/Mystira.App.PWA/Services/AuthorizationHandler.cs
  packages/app/src/Mystira.App.PWA/Services/BaseApiClient.cs
  packages/app/src/Mystira.App.PWA/Services/DiscordApiClient.cs
  packages/app/src/Mystira.App.PWA/Services/GameSessionApiClient.cs
  packages/app/src/Mystira.App.PWA/Services/UnifiedAuthService.cs
  packages/story-generator/src/Mystira.StoryGenerator.Api/Program.cs
  packages/story-generator/src/Mystira.StoryGenerator.Application/FoundryServiceCollectionExtensions.cs
  packages/story-generator/src/Mystira.StoryGenerator.Application/Infrastructure/Agents/FileSearchKnowledgeProvider.cs
Due: none

fix: update pnpm-lockfile to resolve CI/CD failures
  pnpm-lock.yaml
Due: none

fix: resolve TypeScript error in publisher auth.ts
  packages/publisher/src/api/auth.ts
Due: typescript, TypeScript Packages

feat: standardize package management and add comprehensive quality checks
  docs/guides/package-management-strategy.md
  packages/design-tokens/package.json
  packages/devhub/Mystira.DevHub/src-tauri/Cargo.toml
  scripts/quality-check.ps1
  scripts/quality-check.sh
Due: none

fix: resolve lint and prettier issues
  .prettierignore
  docs/guides/package-management-strategy.md
  docs/history/.index.json
  packages/admin-ui/eslint.config.mjs
  packages/admin-ui/src/components/__tests__/TextInput.test.tsx
  packages/admin-ui/tsconfig.json
  packages/devhub/Mystira.DevHub/tsconfig.json
  packages/shared-utils/src/logger.test.ts
  packages/shared-utils/src/signalr.client.ts
  packages/shared-utils/src/signalr.types.ts
Due: typescript, TypeScript Packages

chore: update configuration files and improve documentation handling
  .prettierrc.json
  .vscode/settings.json
  docs/history/.index.json
Due: none

chore: update TypeScript config and prettier ignore
  .prettierignore
  packages/admin-ui/tsconfig.json
Due: typescript, TypeScript Packages

chore: update test script to use custom test runner
  packages/contracts/package.json
  packages/contracts/scripts/test.mjs
Due: .NET Contracts

chore: update API spec scripts to use pnpm for execution
  packages/api-spec/package.json
Due: none

fix(deps): downgrade Microsoft.ApplicationInsights from 3.0.0 to 2.23.0
  packages/admin-api/src/Mystira.Admin.Api/Mystira.Admin.Api.csproj
  packages/app/src/Mystira.App.Api/Mystira.App.Api.csproj
  packages/app/tests/Mystira.App.Api.Tests/Mystira.App.Api.Tests.csproj
  packages/shared/Mystira.Shared/Mystira.Shared.csproj
Due: dotnet-shared, .NET Shared

feat(deps): upgrade Microsoft.ApplicationInsights to 3.0.0
  packages/admin-api/src/Mystira.Admin.Api/Mystira.Admin.Api.csproj
  packages/admin-api/src/Mystira.Admin.Api/Program.cs
  packages/app/src/Mystira.App.Api/Mystira.App.Api.csproj
  packages/app/src/Mystira.App.Api/Program.cs
  packages/app/tests/Mystira.App.Api.Tests/Mystira.App.Api.Tests.csproj
  packages/shared/Mystira.Shared.Tests/Telemetry/SecurityMetricsTests.cs
  packages/shared/Mystira.Shared/Mystira.Shared.csproj
  packages/shared/Mystira.Shared/Telemetry/CloudRoleNameInitializer.cs
  packages/shared/Mystira.Shared/Telemetry/DistributedTracingExtensions.cs
Due: dotnet-shared, .NET Shared

fix: remove EventTelemetry.Metrics usage removed in AppInsights 3.0.0
  packages/shared/Mystira.Shared/Telemetry/CustomMetrics.cs
Due: dotnet-shared, .NET Shared

fix: resolve SecurityMetricsTests and WolverineFx package downgrade CI failures
  packages/app/tests/Mystira.App.Api.Tests/Mystira.App.Api.Tests.csproj
  packages/shared/Mystira.Shared.Tests/Telemetry/SecurityMetricsTests.cs
Due: none

fix: replace MetricTelemetry with EventTelemetry across all telemetry classes
  packages/shared/Mystira.Shared/Telemetry/BusinessMetrics.cs
  packages/shared/Mystira.Shared/Telemetry/CustomMetrics.cs
  packages/shared/Mystira.Shared/Telemetry/SecurityMetrics.cs
  packages/shared/Mystira.Shared/Telemetry/UserJourneyAnalytics.cs
Due: dotnet-shared, .NET Shared

fix: bump WolverineFx to 5.16.4 in Application.Tests to fix NU1605
  packages/app/tests/Mystira.App.Application.Tests/Mystira.App.Application.Tests.csproj
Due: none

chore(ci): standardize all workflow names to [Category] format
  .github/workflows/_build-dotnet.yml
  .github/workflows/_ci-gate.yml
  .github/workflows/_infra-notify.yml
  .github/workflows/_rollback.yml
  .github/workflows/_test-integration.yml
  .github/workflows/_test-unit.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/infra-deploy.yml
  .github/workflows/infra-validate.yml
  .github/workflows/reusable-docker-build.yml
  .github/workflows/reusable-security-scan.yml
  .github/workflows/reusable-terraform.yml
Due: none

chore(ci): remove legacy infra workflows and fix references
  .github/workflows/README.md
  .github/workflows/bind-custom-domains.yml
  .github/workflows/deploy-staging.yml
  .github/workflows/infra-deploy.yml
  .github/workflows/infra-validate.yml
  .github/workflows/reusable-terraform.yml
  .github/workflows/security-scan-scheduled.yml
Due: none

Path conditions:
  typescript: any of: packages/shared-utils/, packages/admin-ui/, packages/publisher/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-core: any of: packages/core/Mystira.Core/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-shared: any of: packages/shared/Mystira.Shared/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-domain: any of: packages/domain/Mystira.Domain/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-application: any of: packages/application/Mystira.Application/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-contracts: any of: packages/contracts/dotnet/Mystira.Contracts/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  TypeScript Packages: any of: packages/shared-utils/**, packages/admin-ui/**, packages/publisher/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Core: any of: packages/core/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Shared: any of: packages/shared/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Domain: any of: packages/domain/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Application: any of: packages/application/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Contracts: any of: packages/contracts/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
