Repository phoenixvc/Mystira.workspace: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, dotnet-core, dotnet-shared, dotnet-domain, dotnet-application, dotnet-contracts, TypeScript Packages, .NET Core, .NET Shared, .NET Domain, .NET Application, .NET Contracts

fix(docker): update in-app Dockerfiles with apps/ paths
  apps/admin/api/src/Mystira.Admin.Api/Dockerfile
  apps/app/src/Mystira.App.Api/Dockerfile
  apps/story-generator/src/Mystira.StoryGenerator.Api/Dockerfile
Due: none

refactor(workspace): merge Mystira.Core into Mystira.Domain
  .claude/settings.json
  .github/CODEOWNERS
  .github/workflows/generate-contracts.yml
  .github/workflows/packages-publish.yml
  Mystira.sln
  apps/admin/api/src/Mystira.Admin.Api/Dockerfile
  apps/app/src/Mystira.App.Api/Dockerfile
  apps/story-generator/src/Mystira.StoryGenerator.Api/Dockerfile
  codecov.yml
  infra/docker/admin-api/Dockerfile
  infra/docker/app/Dockerfile
  packages/core/Mystira.Core.Tests/Mystira.Core.Tests.csproj
  packages/core/Mystira.Core.Tests/Results/ResultTests.cs
  packages/core/Mystira.Core.Tests/Usings.cs
  packages/core/Mystira.Core/Domain/Entity.cs
  packages/core/Mystira.Core/Mystira.Core.csproj
  packages/core/Mystira.Core/README.md
  packages/domain/Mystira.Domain/Primitives/ValueObject.cs
  packages/domain/Mystira.Domain/Results/Error.cs
  packages/domain/Mystira.Domain/Results/Result.cs
  packages/domain/Mystira.Domain/Results/ResultExtensions.cs
  packages/tests/Mystira.Integration.Tests/Mystira.Integration.Tests.csproj
  packages/tests/Mystira.Integration.Tests/PackageIntegrationTests.cs
Due: dotnet-core, dotnet-domain, .NET Core, .NET Domain

refactor(workspace): merge core-types + shared-utils into shared-ts
  .github/CODEOWNERS
  .github/workflows/generate-contracts.yml
  codecov.yml
  mystira.code-workspace
  packages/core-types/README.md
  packages/core-types/package.json
  packages/core-types/src/index.ts
  packages/core-types/tsconfig.json
  packages/shared-ts/package.json
  packages/shared-ts/src/entity.ts
  packages/shared-ts/src/errors.test.ts
  packages/shared-ts/src/errors.ts
  packages/shared-ts/src/events.ts
  packages/shared-ts/src/index.ts
  packages/shared-ts/src/logger.test.ts
  packages/shared-ts/src/logger.ts
  packages/shared-ts/src/pagination.ts
  packages/shared-ts/src/result.test.ts
  packages/shared-ts/src/result.ts
  packages/shared-ts/src/retry.test.ts
  packages/shared-ts/src/retry.ts
  packages/shared-ts/src/signalr.client.ts
  packages/shared-ts/src/signalr.types.ts
  packages/shared-ts/src/validation.test.ts
  packages/shared-ts/src/validation.ts
  packages/shared-ts/tsconfig.json
  packages/shared-ts/tsup.config.ts
  packages/shared-ts/vitest.config.ts
  packages/shared-utils/README.md
  packages/shared-utils/eslint.config.mjs
  packages/shared-utils/src/index.ts
  packages/shared-utils/vitest.config.ts
Due: typescript, TypeScript Packages

Add files via upload
  frame-assets/5652229.ai
  frame-assets/5652234.eps
  frame-assets/5652236.jpg
  frame-assets/Floral Ornaments_04.ai
  frame-assets/Floral Ornaments_04.eps
  frame-assets/Floral Ornaments_04.jpg
  frame-assets/file.eps
  frame-assets/preview.jpg
Due: none

Rename frame-assets/5652229.ai to public/frame-assets/blerh.ai
  public/frame-assets/blerh.ai
Due: none

chore(ci): update workflows and codecov for shared package split
  .github/workflows/packages-authoring.yml
  .github/workflows/packages-publish.yml
  .github/workflows/packages-shared.yml
  .github/workflows/workspace-ci.yml
  codecov.yml
Due: none

Delete public/frame-assets directory
  public/frame-assets/blerh.ai
Due: none

Delete frame-assets directory
  frame-assets/5652234.eps
  frame-assets/5652236.jpg
  frame-assets/Floral Ornaments_04.ai
  frame-assets/Floral Ornaments_04.eps
  frame-assets/Floral Ornaments_04.jpg
  frame-assets/file.eps
  frame-assets/preview.jpg
Due: none

fix(workspace): remove stale IDE ignores and fix Python settings for multi-root workspace
  .gitignore
  .vscode/settings.json
Due: none

docs(docs): archive 12 legacy plans, create consolidated PLAN.md
  BACKLOG.md
  docs/architecture/adr/0007-nuget-feed-strategy-for-shared-libraries.md
  docs/history/plans/2025-12-adr-0014-implementation-roadmap.md
  docs/history/plans/2025-12-adr-0015-implementation-roadmap.md
  docs/history/plans/2025-12-data-migration-plan.md
  docs/history/plans/2025-12-dev-resources-standardization-plan.md
  docs/history/plans/2025-12-hybrid-data-strategy-roadmap.md
  docs/history/plans/2025-12-implementation-roadmap.md
  docs/history/plans/2025-12-master-implementation-checklist.md
  docs/history/plans/2025-12-migration-summary.md
  docs/history/plans/2025-12-terraform-migration-execution.md
  docs/history/plans/2025-12-terraform-migration-plan.md
  docs/history/plans/2026-01-roadmap.md
  docs/history/plans/2026-03-scaledown-plan.md
  docs/migrations/MIGRATION_INDEX.md
  docs/operations/DEPLOYMENT_STRATEGY.md
  docs/operations/ROLLBACK_PROCEDURE.md
  docs/operations/runbooks/README.md
  docs/planning/PLAN.md
  docs/planning/README.md
Due: none

chore(deps): integrate dependency updates from PRs #686 #724 #722 #721 #642 #723 #695 #662
  .github/workflows/infra-pr-automation.yml
  .github/workflows/reusable-security-scan.yml
  apps/app/src/Mystira.App.Api/Mystira.App.Api.csproj
  apps/app/src/Mystira.App.Application/Mystira.App.Application.csproj
  apps/app/src/Mystira.App.Infrastructure.Data/Mystira.App.Infrastructure.Data.csproj
  apps/app/src/Mystira.App.PWA/Mystira.App.PWA.csproj
  apps/app/tests/Mystira.App.Api.Tests/Mystira.App.Api.Tests.csproj
  apps/app/tests/Mystira.App.Application.Tests/Mystira.App.Application.Tests.csproj
  apps/devhub/Mystira.DevHub.CLI/Mystira.DevHub.CLI.csproj
  apps/devhub/cli/Mystira.DevHub.CLI/Mystira.DevHub.CLI.csproj
  apps/identity/src/Mystira.Identity.Api/Mystira.Identity.Api.csproj
  apps/publisher/Dockerfile
  apps/story-generator/src/Mystira.StoryGenerator.Api/Mystira.StoryGenerator.Api.csproj
  apps/story-generator/src/Mystira.StoryGenerator.Application/Mystira.StoryGenerator.Application.csproj
  apps/story-generator/src/Mystira.StoryGenerator.Domain/Mystira.StoryGenerator.Domain.csproj
  apps/story-generator/src/Mystira.StoryGenerator.Web/Mystira.StoryGenerator.Web.csproj
  docs/devhub-cicd/Dockerfile
  global.json
  packages/application/Mystira.Application/Mystira.Application.csproj
  packages/infrastructure/Mystira.Infrastructure.Data/Mystira.Infrastructure.Data.csproj
  packages/shared-messaging/Mystira.Shared.Messaging/Mystira.Shared.Messaging.csproj
  packages/shared-observability/Mystira.Shared.Observability/Mystira.Shared.Observability.csproj
  packages/shared/Mystira.Shared.Tests/Mystira.Shared.Tests.csproj
  packages/shared/Mystira.Shared/Mystira.Shared.csproj
Due: dotnet-shared, dotnet-application, .NET Shared, .NET Application

refactor(domain): consolidate entity base classes into Mystira.Domain
  apps/app/src/Mystira.App.Domain/Models/BaseEntity.cs
  apps/app/src/Mystira.App.Infrastructure.Data/MystiraAppDbContext.Auditing.cs
  apps/app/src/Mystira.App.Infrastructure.Data/MystiraAppDbContext.QueryFilters.cs
  docs/guides/entity-and-repository-guide.md
  docs/migrations/MIGRATION_INDEX.md
  packages/shared-ts/src/entity.ts
  packages/shared/Mystira.Shared/Data/Entities/Entity.cs
  packages/shared/Mystira.Shared/Data/EntityId.cs
  packages/shared/Mystira.Shared/Data/Polyglot/PolyglotSyncLog.cs
Due: dotnet-shared, .NET Shared

docs(docs): update PLAN.md with A.1/A.2 progress and revised dependencies
  docs/planning/PLAN.md
Due: none

feat(hero): add configurable portal frame styles with 3 SVG variants
  packages/app/src/Mystira.App.PWA/Components/HeroPortalVisual.razor
  packages/app/src/Mystira.App.PWA/Components/PortalFrameStyle.cs
  packages/app/src/Mystira.App.PWA/wwwroot/images/frames/frame-floral-corner.svg
  packages/app/src/Mystira.App.PWA/wwwroot/images/frames/frame-hand-drawn.svg
  packages/app/src/Mystira.App.PWA/wwwroot/images/frames/frame-ornate-leaf.svg
Due: none

fix(hero): inject external SVG frames inline for CSS animation support
  packages/app/src/Mystira.App.PWA/Components/HeroPortalVisual.razor
  packages/app/src/Mystira.App.PWA/Components/HeroPortalVisual.razor.css
  packages/app/src/Mystira.App.PWA/wwwroot/js/portalVisual.js
Due: none

fix: address review findings across hero components, tests, and CI
  .github/workflows/test-e2e.yml
  packages/app/src/Mystira.App.PWA/Components/HeroBadgePill.razor.css
  packages/app/src/Mystira.App.PWA/Components/HeroPortalVisual.razor
  packages/app/src/Mystira.App.PWA/Components/HeroPortalVisual.razor.css
  packages/app/src/Mystira.App.PWA/Components/HeroSection.razor.css
  packages/app/src/Mystira.App.PWA/wwwroot/js/portalVisual.js
  packages/app/tests/Mystira.App.Infrastructure.Discord.Tests/ServiceCollectionExtensionsTests.cs
  packages/app/tests/Mystira.App.PWA.E2E/HeroSectionVisualTests.cs
Due: none

fix: narrow generic catch clauses and remove nullable dereferences
  packages/app/src/Mystira.App.PWA/Components/HeroPortalVisual.razor
  packages/app/src/Mystira.App.PWA/Components/HeroSection.razor
  packages/app/tests/Mystira.App.Api.Tests/Controllers/CompassAxesControllerTests.cs
Due: none

fix(admin-api): resolve integration test infrastructure failures
  apps/admin/api/src/Mystira.Admin.Api/Program.cs
  apps/admin/api/tests/Mystira.Admin.Api.Tests/Infrastructure/InMemoryDistributedLockService.cs
  apps/admin/api/tests/Mystira.Admin.Api.Tests/Infrastructure/MystiraWebApplicationFactory.cs
Due: none

fix: address second round of review findings
  .github/workflows/test-e2e.yml
  packages/app/src/Mystira.App.PWA/Components/HeroPortalVisual.razor
  packages/app/src/Mystira.App.PWA/Components/HeroPortalVisual.razor.css
  packages/app/src/Mystira.App.PWA/Components/HeroSection.razor
  packages/app/src/Mystira.App.PWA/Components/HeroSection.razor.css
Due: none

Redesign hero section with two-column layout and portal visual (#735)
  .github/workflows/test-e2e.yml
  packages/app/Mystira.App.sln
  packages/app/src/Mystira.App.PWA/Components/HeroBadgePill.razor
  packages/app/src/Mystira.App.PWA/Components/HeroBadgePill.razor.css
  packages/app/src/Mystira.App.PWA/Components/HeroPortalVisual.razor
  packages/app/src/Mystira.App.PWA/Components/HeroPortalVisual.razor.css
  packages/app/src/Mystira.App.PWA/Components/HeroSection.razor
  packages/app/src/Mystira.App.PWA/Components/HeroSection.razor.css
  packages/app/src/Mystira.App.PWA/Components/HeroTrustPills.razor
  packages/app/src/Mystira.App.PWA/Components/HeroTrustPills.razor.css
  packages/app/src/Mystira.App.PWA/Components/InteractiveStoryDemo.razor
  packages/app/src/Mystira.App.PWA/Components/InteractiveStoryDemo.razor.css
  packages/app/src/Mystira.App.PWA/Components/PortalFrameStyle.cs
  packages/app/src/Mystira.App.PWA/Pages/Home.razor
  packages/app/src/Mystira.App.PWA/Pages/Home.razor.css
  packages/app/src/Mystira.App.PWA/docs/hero-selection-decision.md
  packages/app/src/Mystira.App.PWA/wwwroot/images/frames/frame-floral-corner.svg
  packages/app/src/Mystira.App.PWA/wwwroot/images/frames/frame-hand-drawn.svg
  packages/app/src/Mystira.App.PWA/wwwroot/images/frames/frame-ornate-leaf.svg
  packages/app/src/Mystira.App.PWA/wwwroot/index.html
  packages/app/src/Mystira.App.PWA/wwwroot/js/portalVisual.js
  packages/app/tests/Mystira.App.Api.Tests/Controllers/ArchetypesControllerTests.cs
  packages/app/tests/Mystira.App.Api.Tests/Controllers/CompassAxesControllerTests.cs
  packages/app/tests/Mystira.App.Api.Tests/Models/ScenarioValidationTests.cs
  packages/app/tests/Mystira.App.Infrastructure.Discord.Tests/DiscordBotHealthCheckTests.cs
  packages/app/tests/Mystira.App.Infrastructure.Discord.Tests/DiscordBotServiceTests.cs
  packages/app/tests/Mystira.App.Infrastructure.Discord.Tests/DiscordOptionsTests.cs
  packages/app/tests/Mystira.App.Infrastructure.Discord.Tests/ServiceCollectionExtensionsTests.cs
  packages/app/tests/Mystira.App.Infrastructure.Discord.Tests/TicketModuleTests.cs
  packages/app/tests/Mystira.App.PWA.E2E/HeroSectionVisualTests.cs
  packages/app/tests/Mystira.App.PWA.E2E/Mystira.App.PWA.E2E.csproj
Due: none

refactor(core): add supporting types to Mystira.Core package
  packages/core/Mystira.Core/Guard.cs
  packages/core/Mystira.Core/Helpers/LogAnonymizer.cs
  packages/core/Mystira.Core/Interfaces/CacheDefaults.cs
  packages/core/Mystira.Core/Mappers/GameSessionMapper.cs
  packages/core/Mystira.Core/PiiMask.cs
  packages/core/Mystira.Core/Services/PercentileCalculator.cs
  packages/core/Mystira.Core/Services/ScenarioGraphTraversal.cs
  packages/core/Mystira.Core/Specifications/AxisAchievementSpecifications.cs
  packages/core/Mystira.Core/Specifications/BadgeImageSpecifications.cs
  packages/core/Mystira.Core/Specifications/BadgeSpecifications.cs
  packages/core/Mystira.Core/Specifications/CharacterMapSpecifications.cs
  packages/core/Mystira.Core/Specifications/DataDeletionSpecifications.cs
  packages/core/Mystira.Core/Specifications/MediaAssetSpecifications.cs
  packages/core/Mystira.Core/Specifications/PlayerScenarioScoreSpecifications.cs
  packages/core/Mystira.Core/UseCaseResult.cs
  packages/core/Mystira.Core/Validation/ScenarioSchemaValidator.cs
Due: dotnet-core, .NET Core

chore: mystira.app.application now servers only as a dependency bridge
  apps/app/src/Mystira.App.Api/Program.cs
  apps/app/src/Mystira.App.Application/DependencyInjection.cs
  apps/app/src/Mystira.App.Application/GlobalUsings.cs
  apps/app/src/Mystira.App.Application/Mystira.App.Application.csproj
  apps/app/src/Mystira.App.Application/Ports/Data/IMasterDataRepository.cs
  apps/app/src/Mystira.App.Application/Ports/Data/_NamespaceMarker.cs
  apps/app/tests/Mystira.App.Api.Tests/Configuration/UseCaseExtensionsTests.cs
  apps/identity/src/Mystira.Identity.Api/Program.cs
Due: none

refactor: refactor code structure for improved readability and maintainability
  .factory/settings.json
  Mystira.workspace-Identity.md
  apps/app/src/Mystira.App.Api/Mystira.App.Api.csproj
  apps/app/src/Mystira.App.Api/Program.cs
  apps/app/src/Mystira.App.Api/appsettings.Development.json
  apps/story-generator/src/Mystira.StoryGenerator.Api/Controllers/ChatController.cs
  apps/story-generator/src/Mystira.StoryGenerator.Api/Controllers/ScenarioDominatorPathAnalysisController.cs
  apps/story-generator/src/Mystira.StoryGenerator.Api/Controllers/SchemaController.cs
  apps/story-generator/src/Mystira.StoryGenerator.Api/Controllers/StoriesController.cs
  apps/story-generator/src/Mystira.StoryGenerator.Api/Controllers/StoryAgentController.cs
  apps/story-generator/src/Mystira.StoryGenerator.Api/Controllers/StoryContinuityController.cs
  apps/story-generator/src/Mystira.StoryGenerator.Api/Mystira.StoryGenerator.Api.csproj
  apps/story-generator/src/Mystira.StoryGenerator.Api/Program.cs
  apps/story-generator/src/Mystira.StoryGenerator.Api/Services/CurrentUserService.cs
  infra/terraform/environments/prod/main.tf
  infra/terraform/environments/staging/dns-records.tf
  infra/terraform/environments/staging/main.tf
  packages/shared-messaging/Mystira.Shared.Messaging/Extensions/MessagingExtensions.cs
  packages/shared-messaging/Mystira.Shared.Messaging/Handlers/CacheInvalidationHandler.cs
  packages/shared-messaging/Mystira.Shared.Messaging/Mystira.Shared.Messaging.csproj
  packages/shared/Mystira.Shared/Configuration/AuthenticationExtensions.cs
  scripts/download_stitch.ps1
Due: dotnet-shared, .NET Shared

chore: upgrade all projects to .NET 10 and fix build errors/warnings
  Mystira.sln
  apps/admin/api/src/Mystira.Admin.Api/Program.cs
  apps/app/src/Mystira.App.Api/Configuration/AuthenticationExtensions.cs
  apps/app/src/Mystira.App.Api/Configuration/RepositoryExtensions.cs
  apps/app/src/Mystira.App.Api/Controllers/ProfileAxisScoresController.cs
  apps/app/src/Mystira.App.Api/Program.cs
  apps/app/src/Mystira.App.Api/Services/ApiTokenService.cs
  apps/app/src/Mystira.App.Infrastructure.Data/Repositories/BadgeConfigurationRepository.cs
  apps/app/tests/Mystira.App.Domain.Tests/Exceptions/ExceptionTests.cs
  apps/app/tests/Mystira.App.Domain.Tests/Mystira.App.Domain.Tests.csproj
  apps/app/tests/Mystira.App.Infrastructure.Discord.Tests/DiscordBotServiceTests.cs
  apps/app/tests/Mystira.App.Infrastructure.Discord.Tests/Mystira.App.Infrastructure.Discord.Tests.csproj
  apps/app/tests/Mystira.App.Infrastructure.Discord.Tests/ServiceCollectionExtensionsTests.cs
  apps/publisher/api/src/Mystira.Publisher.Api/Controllers/ContributorsController.cs
  apps/publisher/api/src/Mystira.Publisher.Api/Controllers/StoriesController.cs
  apps/publisher/api/src/Mystira.Publisher.Api/Controllers/UsersController.cs
  apps/publisher/api/src/Mystira.Publisher.Api/Mystira.Publisher.Api.csproj
  apps/publisher/api/src/Mystira.Publisher.Api/Program.cs
  apps/publisher/src/api/client.ts
  apps/publisher/src/config/env.ts
  apps/story-generator/src/Mystira.StoryGenerator.Api/Program.cs
  docs/api/admin-api.md
  docs/api/app-api.md
  docs/api/index.md
  docs/api/publisher-api.md
  docs/api/storygenerator-api.md
  docs/authentication-standardization.md
  infra/terraform/environments/dev/main.tf
  infra/terraform/environments/dev/mystira-app.tf
  infra/terraform/environments/staging/main.tf
  infra/terraform/environments/staging/mystira-app.tf
  infra/terraform/modules/chain/main.tf
  infra/terraform/modules/mystira-app/main.tf
  infra/terraform/modules/mystira-app/outputs.tf
  infra/terraform/modules/mystira-app/variables.tf
  packages/domain/Mystira.Domain/Primitives/StringEnum.cs
  packages/shared/Mystira.Shared/Configuration/AuthenticationExtensions.cs
  packages/shared/Mystira.Shared/Configuration/AuthorizationExtensions.cs
  packages/shared/Mystira.Shared/Exceptions/GlobalExceptionHandler.cs
  packages/shared/Mystira.Shared/Exceptions/MystiraException.cs
Due: dotnet-shared, dotnet-domain, .NET Shared, .NET Domain

chore(infra): align Terragrunt state and preseed shared wiring
  .gitignore
  apps/story-generator/src/Mystira.StoryGenerator.Api/Program.cs
  infra/scripts/validate-infrastructure.ps1
  infra/terraform/TERRAGRUNT_README.md
  infra/terraform/environments/dev/mystira-app.tf
  infra/terraform/environments/prod/main.tf
  infra/terraform/environments/prod/mystira-app.tf
  infra/terraform/environments/staging/mystira-app.tf
  infra/terraform/modules/mystira-app/main.tf
  infra/terraform/modules/mystira-app/outputs.tf
  infra/terraform/modules/shared/postgresql/main.tf
  infra/terraform/modules/story-generator/main.tf
  infra/terraform/modules/story-generator/variables.tf
  infra/terraform/products/mystira-app/_product.hcl
  infra/terraform/products/mystira-app/environments/dev/main.tf
  infra/terraform/products/mystira-app/environments/prod/main.tf
  infra/terraform/products/mystira-app/environments/staging/main.tf
  infra/terraform/products/story-generator/_product.hcl
  infra/terraform/products/story-generator/environments/dev/main.tf
  infra/terraform/products/story-generator/environments/prod/main.tf
  infra/terraform/products/story-generator/environments/staging/main.tf
  infra/terraform/shared-infra/environments/dev/main.tf
  infra/terraform/shared-infra/environments/prod/main.tf
  infra/terraform/shared-infra/environments/staging/main.tf
  infra/terraform/terragrunt.hcl
  scripts/bootstrap-infra.sh
Due: none

docs: add preseed inventory and Terragrunt migration guides
  docs/analysis/azure-inventory-preseed.md
  docs/analysis/infra-consolidation-cost-estimate.md
  docs/analysis/monorepo-features-effort-summary.md
  docs/analysis/terragrunt-for-founders.md
  docs/infrastructure/README.md
  docs/planning/PLAN.md
  docs/planning/infra-edge-networking-plan.md
  docs/planning/other-repo-migration-plan.md
Due: none

docs: add PVC CostOps migration plan
  docs/planning/pvc-costops-migration-plan.md
Due: none

fix(ci): unblock lint and terragrunt format checks
  .gitignore
  apps/admin/ui/eslint.config.mjs
  apps/devhub/Mystira.DevHub/src/components/services/logs/LogDisplay.tsx
  apps/devhub/Mystira.DevHub/src/components/services/logs/LogFilterBar.tsx
  apps/devhub/Mystira.DevHub/src/components/services/logs/LogGroup.tsx
  apps/devhub/Mystira.DevHub/src/components/services/logs/LogLine.tsx
  apps/devhub/Mystira.DevHub/src/components/services/logs/index.ts
  apps/devhub/Mystira.DevHub/src/components/services/logs/logUtils.tsx
  apps/devhub/Mystira.DevHub/src/components/services/logs/useLogGrouping.ts
  global.json
  infra/terraform/products/admin/_product.hcl
  infra/terraform/products/chain/_product.hcl
  infra/terraform/products/mystira-app/_product.hcl
  infra/terraform/products/publisher/_product.hcl
  infra/terraform/products/story-generator/_product.hcl
  infra/terraform/terragrunt.hcl
Due: none

docs: add shared resource adoption conventions
  docs/planning/pvc-costops-migration-plan.md
  docs/planning/shared-resource-adoption-conventions.md
Due: none

docs(workspace): expand external repo adoption milestones
  docs/planning/PLAN.md
Due: none

Path conditions:
  typescript: any of: packages/shared-utils/, packages/admin-ui/, packages/publisher/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-core: any of: packages/core/Mystira.Core/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-shared: any of: packages/shared/Mystira.Shared/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-domain: any of: packages/domain/Mystira.Domain/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-application: any of: packages/application/Mystira.Application/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-contracts: any of: packages/contracts/dotnet/Mystira.Contracts/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  TypeScript Packages: any of: packages/shared-utils/**, packages/admin-ui/**, packages/publisher/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Core: any of: packages/core/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Shared: any of: packages/shared/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Domain: any of: packages/domain/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Application: any of: packages/application/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Contracts: any of: packages/contracts/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
