Repository phoenixvc/Mystira.workspace: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, dotnet-core, dotnet-shared, dotnet-domain, dotnet-application, dotnet-contracts, TypeScript Packages, .NET Core, .NET Shared, .NET Domain, .NET Application, .NET Contracts

fix: address CodeRabbit review findings across CI and Rust sources
  .github/workflows/build-desktop.yml
  .github/workflows/test-e2e.yml
  Mystira.DevHub/package.json
  Mystira.DevHub/src-tauri/Cargo.lock
  Mystira.DevHub/src-tauri/Cargo.toml
  Mystira.DevHub/src-tauri/capabilities/default.json
  Mystira.DevHub/src-tauri/src/azure/resources.rs
  Mystira.DevHub/src-tauri/src/config.rs
  Mystira.DevHub/src-tauri/src/github.rs
  Mystira.DevHub/src-tauri/src/main.rs
  Mystira.DevHub/src-tauri/src/services/helpers.rs
  Mystira.DevHub/src-tauri/src/services/lifecycle.rs
  Mystira.DevHub/src-tauri/src/utils.rs
  Mystira.DevHub/src-tauri/tauri.conf.json
  Mystira.DevHub/src/components/WebViewPanel.tsx
  Mystira.DevHub/src/components/service-manager/ServiceManager.tsx
Due: none

style: fix cargo fmt formatting in resources.rs and utils.rs
  Mystira.DevHub/src-tauri/src/azure/resources.rs
  Mystira.DevHub/src-tauri/src/utils.rs
Due: none

Fix 'Complete & Continue in Chat': handle null CurrentChat and missing ChatSession
  src/Mystira.StoryGenerator.Web/Layout/ThreePanelLayout.razor
Due: none

Fix Story Library save and add Clear History button
  src/Mystira.StoryGenerator.Web/Layout/ThreePanelLayout.razor
  src/Mystira.StoryGenerator.Web/Pages/AgentModeStoryPage.razor
  src/Mystira.StoryGenerator.Web/Pages/StoryLibrary.razor
  src/Mystira.StoryGenerator.Web/Services/ChatSessionService.cs
Due: none

Remove debugging logs, simplify configuration, and adjust logging levels.
  src/Mystira.StoryGenerator.Web/Layout/ThreePanelLayout.razor
  src/Mystira.StoryGenerator.Web/Mystira.StoryGenerator.Web.csproj
  src/Mystira.StoryGenerator.Web/Program.cs
  src/Mystira.StoryGenerator.Web/wwwroot/appsettings.Development.json
  src/Mystira.StoryGenerator.Web/wwwroot/appsettings.json
  src/Mystira.StoryGenerator.Web/wwwroot/index.html
Due: none

Add scene metadata with creative_instruction field
  src/Mystira.StoryGenerator.Api/config/story-schema.json
  src/Mystira.StoryGenerator.Application/Resources/FoundryStorySchema.json
  src/Mystira.StoryGenerator.Application/Scenarios/ScenarioFactory.cs
  src/Mystira.StoryGenerator.Domain/Stories/Scenario.cs
  test-data/test-story.yaml
Due: none

feat: Upgrade workspace to .NET 10.0 and consolidate dependency updates (#586)
  package.json
  packages/ai/Mystira.Ai.Tests/Mystira.Ai.Tests.csproj
  packages/ai/Mystira.Ai/Mystira.Ai.csproj
  packages/api-spec/package.json
  packages/application/Mystira.Application/Mystira.Application.csproj
  packages/authoring/Mystira.Authoring.Abstractions/Mystira.Authoring.Abstractions.csproj
  packages/authoring/Mystira.Authoring.Tests/Mystira.Authoring.Tests.csproj
  packages/authoring/Mystira.Authoring/Mystira.Authoring.csproj
  packages/contracts/dotnet/Mystira.Contracts.Tests/Mystira.Contracts.Tests.csproj
  packages/contracts/dotnet/Mystira.Contracts/Mystira.Contracts.csproj
  packages/contracts/package.json
  packages/core/Mystira.Core.Tests/Mystira.Core.Tests.csproj
  packages/core/Mystira.Core/Mystira.Core.csproj
  packages/domain/Mystira.Domain/Mystira.Domain.csproj
  packages/infrastructure/Mystira.Infrastructure.Azure/Mystira.Infrastructure.Azure.csproj
  packages/infrastructure/Mystira.Infrastructure.Data.Tests/Mystira.Infrastructure.Data.Tests.csproj
  packages/infrastructure/Mystira.Infrastructure.Data/Mystira.Infrastructure.Data.csproj
  packages/infrastructure/Mystira.Infrastructure.Discord.Tests/Mystira.Infrastructure.Discord.Tests.csproj
  packages/infrastructure/Mystira.Infrastructure.Discord/Mystira.Infrastructure.Discord.csproj
  packages/infrastructure/Mystira.Infrastructure.Payments.Tests/Mystira.Infrastructure.Payments.Tests.csproj
  packages/infrastructure/Mystira.Infrastructure.Payments/Mystira.Infrastructure.Payments.csproj
  packages/infrastructure/Mystira.Infrastructure.StoryProtocol.Tests/Mystira.Infrastructure.StoryProtocol.Tests.csproj
  packages/infrastructure/Mystira.Infrastructure.StoryProtocol/Mystira.Infrastructure.StoryProtocol.csproj
  packages/infrastructure/Mystira.Infrastructure.Teams.Tests/Mystira.Infrastructure.Teams.Tests.csproj
  packages/infrastructure/Mystira.Infrastructure.Teams/Mystira.Infrastructure.Teams.csproj
  packages/infrastructure/Mystira.Infrastructure.WhatsApp.Tests/Mystira.Infrastructure.WhatsApp.Tests.csproj
  packages/infrastructure/Mystira.Infrastructure.WhatsApp/Mystira.Infrastructure.WhatsApp.csproj
  packages/shared-utils/package.json
  packages/shared/Mystira.Shared.Tests/Mystira.Shared.Tests.csproj
  packages/shared/Mystira.Shared/Mystira.Shared.csproj
  packages/tests/Mystira.Integration.Tests/Mystira.Integration.Tests.csproj
  pnpm-lock.yaml
Due: typescript, dotnet-core, dotnet-shared, dotnet-domain, dotnet-application, dotnet-contracts, TypeScript Packages, .NET Core, .NET Shared, .NET Domain, .NET Application, .NET Contracts

chore: update install_tools.sh to .NET 10 and add dotnet restore step
  infra/docker/story-generator/Dockerfile
  scripts/install_tools.sh
Due: none

fix: resolve .NET 10 CI failures - Npgsql, workflow versions, and API spec bump
  .github/workflows/_build-dotnet.yml
  .github/workflows/_security-scan.yml
  .github/workflows/_test-integration.yml
  .github/workflows/_test-unit.yml
  .github/workflows/ci.yml
  .github/workflows/generate-contracts.yml
  .github/workflows/mystira-app-api-cicd-prod.yml
  .github/workflows/packages-ai.yml
  .github/workflows/packages-authoring.yml
  .github/workflows/packages-contracts.yml
  .github/workflows/packages-publish.yml
  .github/workflows/packages-shared.yml
  .github/workflows/submodule-deploy-dev-appservice.yml
  .github/workflows/test-contract.yml
  packages/api-spec/openapi/app-api.yaml
  packages/api-spec/openapi/story-generator-api.yaml
  packages/infrastructure/Mystira.Infrastructure.Data/Mystira.Infrastructure.Data.csproj
Due: none

fix: restore default GrpcEndpoint for null config values on .NET 10
  packages/infrastructure/Mystira.Infrastructure.StoryProtocol/ServiceCollectionExtensions.cs
Due: none

chore(workspace): remove publisher submodule in preparation for inline migration
  .gitmodules
Due: none

chore(workspace): remove admin-ui and devhub submodules for inline migration
  .gitmodules
  packages/publisher/.github/workflows/ci.yml
  packages/publisher/.prettierrc
  packages/publisher/package-lock.json
  packages/publisher/package.json
  packages/publisher/pnpm-lock.yaml
  packages/publisher/renovate.json
Due: typescript, TypeScript Packages

feat(workspace): clean up migrated TS packages (publisher, admin-ui, devhub)
  packages/admin-ui/.github/ISSUE_TEMPLATE/bug_report.md
  packages/admin-ui/.github/ISSUE_TEMPLATE/feature_request.md
  packages/admin-ui/.github/pull_request_template.md
  packages/admin-ui/.github/workflows/ci.yml
  packages/admin-ui/.github/workflows/deploy-dev.yml
  packages/admin-ui/.github/workflows/security.yml
  packages/admin-ui/.github/workflows/test-e2e.yml
  packages/admin-ui/.github/workflows/test-unit.yml
  packages/admin-ui/package.json
  packages/admin-ui/pnpm-lock.yaml
  packages/admin-ui/renovate.json
  packages/devhub/.github/workflows/build-desktop.yml
  packages/devhub/.github/workflows/ci.yml
  packages/devhub/.github/workflows/security-scan.yml
  packages/devhub/.github/workflows/test-e2e.yml
  packages/devhub/.github/workflows/test-unit.yml
  packages/devhub/Mystira.DevHub/package.json
Due: typescript, TypeScript Packages

chore(workspace): remove remaining submodules (admin-api, app, story-generator, chain)
  .gitmodules
Due: none

feat(workspace): monorepo consolidation - CI/CD, configs, CODEOWNERS
  .commitlintrc.json
  .github/CODEOWNERS
  .github/workflows/ci.yml
  .gitmodules
  .npmrc
  Mystira.sln
  package.json
  packages/chain/package.json
  packages/contracts/package.json
  packages/core-types/package.json
  packages/shared-utils/package.json
  pnpm-workspace.yaml
  renovate.json
Due: typescript, TypeScript Packages, .NET Contracts

chore(workspace): mark internal NuGet packages as non-packable, simplify Changesets
  .changeset/config.json
  packages/contracts/dotnet/Mystira.Contracts/Mystira.Contracts.csproj
  packages/shared/Mystira.Shared/Mystira.Shared.csproj
Due: dotnet-shared, dotnet-contracts, .NET Shared, .NET Contracts

docs: remove submodule references from docs, workflows, and guides
  .github/workflows/deploy-admin-ui-swa.yml
  .github/workflows/infra-deploy.yml
  .github/workflows/infra-pr-automation.yml
  .github/workflows/release.yml
  .github/workflows/secret-rotation-check.yml
  .github/workflows/utilities-link-checker.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  configs/README.md
  docs/README.md
  docs/devhub-cicd/build-deploy.yml
  docs/devhub-cicd/tauri-build-deploy.yml
  docs/guides/README.md
  docs/guides/quick-start.md
  docs/guides/setup.md
Due: none

fix(app,story-generator): fix critical bugs and migrate caching to distributed cache
  ROADMAP.md
  docs/migrations/MIGRATION_INDEX.md
  docs/migrations/mystira-app-migration.md
  docs/migrations/mystira-storygenerator-migration.md
  packages/app/src/Mystira.App.Api/Program.cs
  packages/app/src/Mystira.App.Application/Behaviors/QueryCachingBehavior.cs
  packages/app/src/Mystira.App.Application/CQRS/BadgeConfigurations/Queries/GetAllBadgeConfigurationsQuery.cs
  packages/app/src/Mystira.App.Application/CQRS/BadgeConfigurations/Queries/GetBadgeConfigurationQuery.cs
  packages/app/src/Mystira.App.Application/CQRS/BadgeConfigurations/Queries/GetBadgeConfigurationsByAxisQuery.cs
  packages/app/src/Mystira.App.Application/CQRS/MasterData/MasterDataCommandHelper.cs
  packages/app/src/Mystira.App.Application/Services/QueryCacheInvalidationService.cs
  packages/app/tests/Mystira.App.Application.Tests/CQRS/AgeGroups/AgeGroupCommandHandlerTests.cs
  packages/app/tests/Mystira.App.Application.Tests/CQRS/AgeGroups/AgeGroupHandlerTests.cs
  packages/app/tests/Mystira.App.Application.Tests/CQRS/Archetypes/ArchetypeHandlerTests.cs
  packages/app/tests/Mystira.App.Application.Tests/CQRS/CompassAxes/CompassAxisHandlerTests.cs
  packages/app/tests/Mystira.App.Application.Tests/CQRS/EchoTypes/EchoTypeHandlerTests.cs
  packages/app/tests/Mystira.App.Application.Tests/CQRS/FantasyThemes/FantasyThemeHandlerTests.cs
  packages/story-generator/src/Mystira.StoryGenerator.Api/Services/StoryValidationService.cs
  packages/story-generator/src/Mystira.StoryGenerator.Application/Handlers/Stories/AutoFixStoryJsonCommandHandler.cs
  packages/story-generator/src/Mystira.StoryGenerator.Application/Handlers/Stories/GenerateStoryCommandHandler.cs
  packages/story-generator/src/Mystira.StoryGenerator.Application/Handlers/Stories/RefineStoryCommandHandler.cs
Due: none

refactor(app): migrate BCL exceptions to domain types, supersede ADR-0016
  docs/README.md
  docs/architecture/adr/0016-monorepo-tooling-and-multi-repository-strategy.md
  docs/architecture/adr/0024-true-monorepo-migration.md
  docs/migrations/mystira-app-migration.md
  docs/migrations/mystira-storygenerator-migration.md
  packages/app/src/Mystira.App.Application/CQRS/Badges/Queries/CalculateBadgeScoresQueryHandler.cs
  packages/app/src/Mystira.App.Application/CQRS/GameSessions/Commands/ProgressSceneCommandHandler.cs
  packages/app/src/Mystira.App.Application/CQRS/Scenarios/Commands/DeleteScenarioCommandHandler.cs
  packages/app/src/Mystira.App.Application/UseCases/Avatars/CreateAvatarConfigurationUseCase.cs
  packages/app/src/Mystira.App.Application/UseCases/CharacterMaps/CreateCharacterMapUseCase.cs
  packages/app/src/Mystira.App.Application/UseCases/Contributors/RegisterBundleIpAssetUseCase.cs
  packages/app/src/Mystira.App.Application/UseCases/Contributors/RegisterScenarioIpAssetUseCase.cs
  packages/app/src/Mystira.App.Application/UseCases/GameSessions/MakeChoiceUseCase.cs
  packages/app/src/Mystira.App.Application/UseCases/GameSessions/PauseGameSessionUseCase.cs
  packages/app/src/Mystira.App.Application/UseCases/GameSessions/ProgressSceneUseCase.cs
  packages/app/src/Mystira.App.Application/UseCases/GameSessions/ResumeGameSessionUseCase.cs
  packages/app/src/Mystira.App.Application/UseCases/Media/UpdateMediaMetadataUseCase.cs
  packages/app/src/Mystira.App.Application/UseCases/Media/UploadMediaUseCase.cs
Due: none

Potential fix for pull request finding 'Useless conditional'
  packages/admin-ui/src/pages/DashboardPage.tsx
Due: typescript, TypeScript Packages

fix(ci): convert breaking API change hard-fail to warning in test-contract workflow (#607)
  .github/workflows/test-contract.yml
Due: none

fix: remove dead isLoading conditionals and unused App Insights variables (#608)
  packages/admin-ui/src/pages/DashboardPage.tsx
  packages/app/src/Mystira.App.PWA/wwwroot/index.html
Due: typescript, TypeScript Packages

chore: update pnpm-lock.yaml to sync with monorepo workspace packages (#606)
  pnpm-lock.yaml
Due: none

Potential fix for pull request finding 'Call to eval-like DOM function'
  packages/app/src/Mystira.App.PWA/wwwroot/index.html
Due: none

chore: migrate admin-api and admin-ui from submodules to monorepo packages (#609)
  .github/workflows/README.md
  docs/guides/setup.md
  packages/admin-api/src/Mystira.Admin.Api/Controllers/MediaAdminController.cs
  packages/admin-api/src/Mystira.Admin.Api/Services/IMediaApiService.cs
  packages/admin-api/src/Mystira.Admin.Api/Services/IMediaMetadataService.cs
  packages/admin-api/src/Mystira.Admin.Api/Services/MediaApiService.cs
  packages/admin-api/src/Mystira.Admin.Api/Services/MediaMetadataService.cs
Due: none

fix: resolve TS2786 across workspace by enforcing consistent @types/react versions via pnpm overrides (#610)
  package.json
  pnpm-lock.yaml
Due: none

feat: add copilot-setup-steps workflow for coding agent environment (#612)
  .github/workflows/copilot-setup-steps.yml
Due: none

fix: address all github-code-quality warnings across app, admin-api, and story-generator packages (#613)
  packages/admin-api/src/Mystira.Admin.Api/Program.cs
  packages/admin-api/tests/Mystira.Admin.Api.Tests/Controllers/AuthControllerTests.cs
  packages/admin-api/tests/Mystira.Admin.Api.Tests/Controllers/GameSessionsControllerTests.cs
  packages/app/src/Mystira.App.Infrastructure.Payments/Services/PeachPayments/PeachPaymentsService.cs
  packages/app/src/Mystira.App.PWA/wwwroot/index.html
  packages/story-generator/src/Mystira.StoryGenerator.GraphTheory/Algorithms/DominatorAlgorithms.cs
  packages/story-generator/src/Mystira.StoryGenerator.Web/Services/YamlImportService.cs
  packages/story-generator/src/Mystira.StoryGenerator.Web/wwwroot/js/panels.js
  packages/story-generator/tests/Mystira.StoryGenerator.GraphTheory.Tests/DominatorPathAlgorithmTests.cs
Due: none

chore(publisher): upgrade zod to v4 and @hookform/resolvers to v5 (#614)
  packages/publisher/package.json
  pnpm-lock.yaml
Due: typescript, TypeScript Packages

fix(devhub): fix TypeScript build errors in @mystira/devhub (#615)
  packages/devhub/Mystira.DevHub/src/components/JsonViewer.tsx
  packages/devhub/Mystira.DevHub/src/components/VisuallyHidden.tsx
  packages/devhub/Mystira.DevHub/src/components/services/logs/LogDisplay.tsx
  packages/devhub/Mystira.DevHub/src/components/services/logs/logUtils.tsx
  packages/devhub/Mystira.DevHub/src/test/vitest-jest-dom.d.ts
Due: none

fix(chain): install ruff in CI lint job to resolve @mystira/chain#lint failure (#616)
  .github/workflows/ci.yml
Due: none

fix(chain): install Python deps in CI and handle --coverage flag for pytest (#617)
  .github/workflows/ci.yml
  packages/chain/conftest.py
  packages/chain/requirements-dev.txt
Due: none

fix(devhub): fix vitest test failures caused by jest-dom/vitest import incompatibility (#618)
  packages/devhub/Mystira.DevHub/src/test/setup.ts
Due: none

fix(admin-ui): patch axios CVE and scope dependency review to runtime (#619)
  .github/workflows/packages-contracts.yml
  packages/admin-ui/package-lock.json
Due: typescript, TypeScript Packages

fix: scope dependency review to runtime deps to fix security scan CI failure (#620)
  .github/dependency-review-config.yml
  .github/workflows/packages-ai.yml
  .github/workflows/packages-authoring.yml
  .github/workflows/packages-contracts.yml
  .github/workflows/packages-shared.yml
Due: none

fix: convert OpenSSF Scorecard threshold violations to warnings in dependency review (#621)
  .github/dependency-review-config.yml
Due: none

Path conditions:
  typescript: any of: packages/shared-utils/, packages/admin-ui/, packages/publisher/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-core: any of: packages/core/Mystira.Core/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-shared: any of: packages/shared/Mystira.Shared/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-domain: any of: packages/domain/Mystira.Domain/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-application: any of: packages/application/Mystira.Application/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-contracts: any of: packages/contracts/dotnet/Mystira.Contracts/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  TypeScript Packages: any of: packages/shared-utils/**, packages/admin-ui/**, packages/publisher/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Core: any of: packages/core/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Shared: any of: packages/shared/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Domain: any of: packages/domain/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Application: any of: packages/application/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Contracts: any of: packages/contracts/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
