Repository phoenixvc/Mystira.workspace: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, dotnet-core, dotnet-shared, dotnet-domain, dotnet-application, dotnet-contracts, TypeScript Packages, .NET Core, .NET Shared, .NET Domain, .NET Application, .NET Contracts

feat: implement 7-layer validation stack for CI/CD workflows
  .github/workflows/ci.yml
  .github/workflows/monitor-health.yml
  .github/workflows/rollback.yml
  .github/workflows/security-scan.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-unit.yml
Due: none

feat: implement 7-layer validation stack for GitHub workflows
  .github/workflows/build-desktop.yml
  .github/workflows/security-scan.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-unit.yml
Due: none

feat: implement 7-layer validation stack for GitHub workflows
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-unit.yml
Due: none

Update GitHub workflows to 7-layer validation stack
  .github/workflows/ci.yml
  .github/workflows/rollback.yml
  .github/workflows/security-scan.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-load.yml
  .github/workflows/test-unit.yml
Due: none

Remove duplicate lint/test from deploy workflow
  .github/workflows/build-deploy-dev.yml
Due: none

Add missing RubricSummary class to fix build
  src/Mystira.StoryGenerator.Contracts/Models/RubricSummary.cs
  src/Mystira.StoryGenerator.Contracts/Models/SessionStateResponse.cs
Due: none

Fix RubricSummary namespace to match Domain.Agents
  src/Mystira.StoryGenerator.Contracts/Agents/RubricSummary.cs
  src/Mystira.StoryGenerator.Contracts/Models/SessionStateResponse.cs
Due: none

Add coverlet.collector to test projects missing it
  tests/Mystira.StoryGenerator.Application.Tests/Mystira.StoryGenerator.Application.Tests/Mystira.StoryGenerator.Application.Tests.csproj
  tests/Mystira.StoryGenerator.Llm.Tests/Mystira.StoryGenerator.Llm.Tests.csproj
Due: none

Fix integration test and unit test failures
  .github/workflows/test-integration.yml
  tests/Mystira.StoryGenerator.Application.Tests/Mystira.StoryGenerator.Application.Tests/ChatOrchestrationServiceTests.cs
Due: none

Fix DI lifetime mismatch in ChatModelsEndpointTests
  tests/Mystira.StoryGenerator.Api.Tests/Integration/ChatModelsEndpointTests.cs
Due: none

Potential fix for code scanning alert no. 1: Equality check on floating point values
  tests/Mystira.StoryGenerator.Application.Tests/Mystira.StoryGenerator.Application.Tests/ChatOrchestrationServiceTests.cs
Due: none

Fix AzureOpenAIServiceTests Assert.Single failures
  tests/Mystira.StoryGenerator.Llm.Tests/AzureOpenAIServiceTests.cs
Due: none

Optimize workflows: reduce duplication, add proper chaining
  .github/actions/setup-dotnet/action.yml
  .github/actions/setup-node/action.yml
  .github/workflows/_build-dotnet.yml
  .github/workflows/_ci-gate.yml
  .github/workflows/staging-release.yml
  .github/workflows/test-e2e.yml
  infra/terraform/environments/dev/github-oidc.tfvars.example
Due: none

Refactor IRepository<T> to extend Ardalis.Specification.IRepositoryBase<T>
  packages/application/Mystira.Application/Ports/Data/IRepository.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/Repository.cs
  packages/shared/Mystira.Shared.Tests/Data/RepositoryBaseTests.cs
  packages/shared/Mystira.Shared.Tests/Mystira.Shared.Tests.csproj
  packages/shared/Mystira.Shared/Data/Polyglot/IPolyglotRepository.cs
  packages/shared/Mystira.Shared/Data/Repositories/IRepository.cs
  packages/shared/Mystira.Shared/Data/Repositories/RepositoryBase.cs
  packages/shared/Mystira.Shared/Extensions/DataExtensions.cs
Due: dotnet-shared, dotnet-application, .NET Shared, .NET Application

Refactor IRepository<T> to extend Ardalis.Specification.IRepositoryBase<T> (#529)
  packages/application/Mystira.Application/Ports/Data/IRepository.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/Repository.cs
  packages/shared/Mystira.Shared.Tests/Data/RepositoryBaseTests.cs
  packages/shared/Mystira.Shared.Tests/Mystira.Shared.Tests.csproj
  packages/shared/Mystira.Shared/Data/Polyglot/IPolyglotRepository.cs
  packages/shared/Mystira.Shared/Data/Repositories/IRepository.cs
  packages/shared/Mystira.Shared/Data/Repositories/RepositoryBase.cs
  packages/shared/Mystira.Shared/Extensions/DataExtensions.cs
Due: dotnet-shared, dotnet-application, .NET Shared, .NET Application

Fix PolyglotRepository to implement IRepositoryBase<T> methods
  packages/shared/Mystira.Shared/Data/Polyglot/PolyglotRepository.cs
Due: dotnet-shared, .NET Shared

Fix CS0452: Remove AsNoTracking from TResult projection methods
  packages/shared/Mystira.Shared/Data/Polyglot/PolyglotRepository.cs
  packages/shared/Mystira.Shared/Data/Repositories/RepositoryBase.cs
Due: dotnet-shared, .NET Shared

Apply AsNoTracking to source query before projection
  packages/shared/Mystira.Shared/Data/Polyglot/PolyglotRepository.cs
  packages/shared/Mystira.Shared/Data/Repositories/RepositoryBase.cs
Due: dotnet-shared, .NET Shared

Fix RepositoryBaseTests to properly check open generic interface inheritance
  packages/shared/Mystira.Shared.Tests/Data/RepositoryBaseTests.cs
Due: none

Fix IRepository_InheritsIRepositoryBaseMethods test
  packages/shared/Mystira.Shared.Tests/Data/RepositoryBaseTests.cs
Due: none

Fix CI checkout to use GH_PACKAGES_TOKEN for authentication
  .github/workflows/ci.yml
Due: none

Use GH_PAT with github.token fallback for checkout authentication
  .github/workflows/ci.yml
Due: none

Fix Infrastructure repositories to extend Ardalis RepositoryBase
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/AxisAchievementRepository.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/BadgeImageRepository.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/BadgeRepository.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/Repository.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/UserBadgeRepository.cs
Due: none

Fix repository field naming to use base class's protected _dbContext
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/AccountRepository.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/AgeGroupRepository.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/ArchetypeRepository.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/AvatarConfigurationFileRepository.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/AxisAchievementRepository.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/BadgeImageRepository.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/BadgeRepository.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/CharacterMapFileRepository.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/CharacterMapRepository.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/CharacterMediaMetadataFileRepository.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/CompassAxisRepository.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/ContentBundleRepository.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/EchoTypeRepository.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/FantasyThemeRepository.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/GameSessionRepository.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/MediaAssetRepository.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/MediaMetadataFileRepository.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/PlayerScenarioScoreRepository.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/Repository.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/ScenarioRepository.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/UserBadgeRepository.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/UserProfileRepository.cs
Due: none

Fix constructor assignment in standalone repository classes
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/CharacterMapFileRepository.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/CharacterMediaMetadataFileRepository.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/MediaMetadataFileRepository.cs
Due: none

Fix check-submodules workflow to use GH_PAT with fallback
  .github/workflows/check-submodules.yml
Due: none

Fix Azure SDK GetBlobsAsync method signature change
  packages/infrastructure/Mystira.Infrastructure.Azure/Services/AzureBlobService.cs
Due: none

Add missing CancellationToken parameter to GetBlobsAsync
  packages/infrastructure/Mystira.Infrastructure.Azure/Services/AzureBlobService.cs
Due: none

Update packages/infrastructure/Mystira.Infrastructure.Data/Repositories/AgeGroupRepository.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/AgeGroupRepository.cs
Due: none

Fix EF Core untranslatable StringComparison in repository queries
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/AgeGroupRepository.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/ArchetypeRepository.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/CompassAxisRepository.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/EchoTypeRepository.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Repositories/FantasyThemeRepository.cs
Due: none

feat(contracts): add generic agent orchestration patterns to Mystira.Contracts
  packages/contracts/dotnet/Mystira.Contracts/Agents/Chat/ChatContext.cs
  packages/contracts/dotnet/Mystira.Contracts/Agents/Configuration/FoundryAgentConfig.cs
  packages/contracts/dotnet/Mystira.Contracts/Agents/Evaluation/EvaluationReport.cs
  packages/contracts/dotnet/Mystira.Contracts/Agents/Evaluation/RubricSummary.cs
  packages/contracts/dotnet/Mystira.Contracts/Agents/Orchestration/AgentStreamEvent.cs
  packages/contracts/dotnet/Mystira.Contracts/Agents/Sessions/EvaluateRequest.cs
  packages/contracts/dotnet/Mystira.Contracts/Agents/Sessions/RefineRequest.cs
  packages/contracts/dotnet/Mystira.Contracts/Agents/Sessions/SessionStartRequest.cs
Due: dotnet-contracts, .NET Contracts

feat(contracts): add generic agent orchestration patterns to Mystira.Contracts (#531)
  packages/contracts/dotnet/Mystira.Contracts/Agents/Chat/ChatContext.cs
  packages/contracts/dotnet/Mystira.Contracts/Agents/Configuration/FoundryAgentConfig.cs
  packages/contracts/dotnet/Mystira.Contracts/Agents/Evaluation/EvaluationReport.cs
  packages/contracts/dotnet/Mystira.Contracts/Agents/Evaluation/RubricSummary.cs
  packages/contracts/dotnet/Mystira.Contracts/Agents/Orchestration/AgentStreamEvent.cs
  packages/contracts/dotnet/Mystira.Contracts/Agents/Sessions/EvaluateRequest.cs
  packages/contracts/dotnet/Mystira.Contracts/Agents/Sessions/RefineRequest.cs
  packages/contracts/dotnet/Mystira.Contracts/Agents/Sessions/SessionStartRequest.cs
Due: dotnet-contracts, .NET Contracts

chore(packages): bump all package versions to 0.5.2-alpha
  packages/ai/Mystira.Ai/Mystira.Ai.csproj
  packages/application/Mystira.Application/Mystira.Application.csproj
  packages/authoring/Mystira.Authoring.Abstractions/Mystira.Authoring.Abstractions.csproj
  packages/authoring/Mystira.Authoring/Mystira.Authoring.csproj
  packages/contracts/dotnet/Mystira.Contracts/Mystira.Contracts.csproj
  packages/core/Mystira.Core/Mystira.Core.csproj
  packages/domain/Mystira.Domain/Mystira.Domain.csproj
  packages/infrastructure/Mystira.Infrastructure.Azure/Mystira.Infrastructure.Azure.csproj
  packages/infrastructure/Mystira.Infrastructure.Data/Mystira.Infrastructure.Data.csproj
  packages/infrastructure/Mystira.Infrastructure.Discord/Mystira.Infrastructure.Discord.csproj
  packages/infrastructure/Mystira.Infrastructure.Payments/Mystira.Infrastructure.Payments.csproj
  packages/infrastructure/Mystira.Infrastructure.StoryProtocol/Mystira.Infrastructure.StoryProtocol.csproj
  packages/infrastructure/Mystira.Infrastructure.Teams/Mystira.Infrastructure.Teams.csproj
  packages/infrastructure/Mystira.Infrastructure.WhatsApp/Mystira.Infrastructure.WhatsApp.csproj
  packages/shared/Mystira.Shared.Generators/Mystira.Shared.Generators.csproj
  packages/shared/Mystira.Shared/Mystira.Shared.csproj
Due: dotnet-core, dotnet-shared, dotnet-domain, dotnet-application, dotnet-contracts, .NET Core, .NET Shared, .NET Domain, .NET Application, .NET Contracts

Claude/add foundry config patterns 9a ac3 (#532)
  packages/ai/Mystira.Ai/Mystira.Ai.csproj
  packages/application/Mystira.Application/Mystira.Application.csproj
  packages/authoring/Mystira.Authoring.Abstractions/Mystira.Authoring.Abstractions.csproj
  packages/authoring/Mystira.Authoring/Mystira.Authoring.csproj
  packages/contracts/dotnet/Mystira.Contracts/Mystira.Contracts.csproj
  packages/core/Mystira.Core/Mystira.Core.csproj
  packages/domain/Mystira.Domain/Mystira.Domain.csproj
  packages/infrastructure/Mystira.Infrastructure.Azure/Mystira.Infrastructure.Azure.csproj
  packages/infrastructure/Mystira.Infrastructure.Data/Mystira.Infrastructure.Data.csproj
  packages/infrastructure/Mystira.Infrastructure.Discord/Mystira.Infrastructure.Discord.csproj
  packages/infrastructure/Mystira.Infrastructure.Payments/Mystira.Infrastructure.Payments.csproj
  packages/infrastructure/Mystira.Infrastructure.StoryProtocol/Mystira.Infrastructure.StoryProtocol.csproj
  packages/infrastructure/Mystira.Infrastructure.Teams/Mystira.Infrastructure.Teams.csproj
  packages/infrastructure/Mystira.Infrastructure.WhatsApp/Mystira.Infrastructure.WhatsApp.csproj
  packages/shared/Mystira.Shared.Generators/Mystira.Shared.Generators.csproj
  packages/shared/Mystira.Shared/Mystira.Shared.csproj
Due: dotnet-core, dotnet-shared, dotnet-domain, dotnet-application, dotnet-contracts, .NET Core, .NET Shared, .NET Domain, .NET Application, .NET Contracts

chore(contracts): bump @mystira/contracts version to 0.5.2-alpha
  packages/contracts/package.json
Due: .NET Contracts

chore(contracts): bump @mystira/contracts version to 0.5.2-alpha (#533)
  packages/contracts/package.json
Due: .NET Contracts

chore: bump all NPM package versions to 0.5.2-alpha
  infra/package.json
  package.json
  packages/api-spec/package.json
  packages/core-types/package.json
  packages/design-tokens/package.json
  packages/domain/package.json
  packages/shared-utils/package.json
Due: typescript, TypeScript Packages, .NET Domain

chore: bump all NPM package versions to 0.5.2-alpha (#534)
  infra/package.json
  package.json
  packages/api-spec/package.json
  packages/core-types/package.json
  packages/design-tokens/package.json
  packages/domain/package.json
  packages/shared-utils/package.json
Due: typescript, TypeScript Packages, .NET Domain

chore(contracts): trigger package publish with NuGet badge
  packages/contracts/dotnet/Mystira.Contracts/README.md
Due: dotnet-contracts, .NET Contracts

Path conditions:
  typescript: any of: packages/shared-utils/, packages/admin-ui/, packages/publisher/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-core: any of: packages/core/Mystira.Core/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-shared: any of: packages/shared/Mystira.Shared/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-domain: any of: packages/domain/Mystira.Domain/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-application: any of: packages/application/Mystira.Application/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-contracts: any of: packages/contracts/dotnet/Mystira.Contracts/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  TypeScript Packages: any of: packages/shared-utils/**, packages/admin-ui/**, packages/publisher/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Core: any of: packages/core/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Shared: any of: packages/shared/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Domain: any of: packages/domain/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Application: any of: packages/application/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Contracts: any of: packages/contracts/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
