Repository phoenixvc/Mystira.workspace: changes, and which Codecov flags are due for each by the changed paths.
All: typescript, dotnet-core, dotnet-shared, dotnet-domain, dotnet-application, dotnet-contracts, TypeScript Packages, .NET Core, .NET Shared, .NET Domain, .NET Application, .NET Contracts

fix(ci): remove redundant inline dep-review settings in packages-contracts workflow
  .github/workflows/packages-contracts.yml
Due: none

chore: standardize all packages to latest versions and migrate to ESLint 10
  .eslintrc.json
  eslint.config.mjs
  package.json
  packages/admin-ui/eslint.config.mjs
  packages/admin-ui/package.json
  packages/admin-ui/vite.config.d.ts
  packages/admin-ui/vite.config.js
  packages/contracts/package.json
  packages/core-types/package.json
  packages/design-tokens/package.json
  packages/publisher/eslint.config.mjs
  packages/publisher/package.json
  packages/publisher/vite.config.ts
  packages/shared-utils/package.json
Due: typescript, TypeScript Packages, .NET Contracts

fix(deps): resolve all npm audit vulnerabilities and upgrade devhub
  package.json
  packages/admin-ui/package.json
  packages/devhub/Mystira.DevHub/package.json
  pnpm-lock.yaml
Due: typescript, TypeScript Packages

chore(deps): upgrade all .NET projects from 9.0.x to 10.0.x NuGet packages
  packages/admin-api/src/Mystira.Admin.Api/Mystira.Admin.Api.csproj
  packages/admin-api/tests/Mystira.Admin.Api.Tests/Mystira.Admin.Api.Tests.csproj
  packages/app/src/Mystira.App.Api/Mystira.App.Api.csproj
  packages/app/src/Mystira.App.Application/Mystira.App.Application.csproj
  packages/app/src/Mystira.App.Domain/Mystira.App.Domain.csproj
  packages/app/src/Mystira.App.Infrastructure.Azure/Mystira.App.Infrastructure.Azure.csproj
  packages/app/src/Mystira.App.Infrastructure.Data/Mystira.App.Infrastructure.Data.csproj
  packages/app/src/Mystira.App.Infrastructure.Discord/Mystira.App.Infrastructure.Discord.csproj
  packages/app/src/Mystira.App.Infrastructure.Payments/Mystira.App.Infrastructure.Payments.csproj
  packages/app/src/Mystira.App.PWA/Mystira.App.PWA.csproj
  packages/app/tests/Mystira.App.Api.Tests/Mystira.App.Api.Tests.csproj
  packages/app/tests/Mystira.App.Application.Tests/Mystira.App.Application.Tests.csproj
  packages/app/tests/Mystira.App.Infrastructure.Data.Tests/Mystira.App.Infrastructure.Data.Tests.csproj
  packages/app/tests/Mystira.App.Infrastructure.Discord.Tests/Mystira.App.Infrastructure.Discord.Tests.csproj
  packages/app/tests/Mystira.App.Infrastructure.Payments.Tests/Mystira.App.Infrastructure.Payments.Tests.csproj
  packages/app/tests/Mystira.App.Infrastructure.Teams.Tests/Mystira.App.Infrastructure.Teams.Tests.csproj
  packages/app/tests/Mystira.App.Infrastructure.WhatsApp.Tests/Mystira.App.Infrastructure.WhatsApp.Tests.csproj
  packages/devhub/Mystira.App.CosmosConsole/Mystira.App.CosmosConsole.csproj
  packages/story-generator/src/Mystira.StoryGenerator.Api/Mystira.StoryGenerator.Api.csproj
  packages/story-generator/src/Mystira.StoryGenerator.Application/Mystira.StoryGenerator.Application.csproj
  packages/story-generator/src/Mystira.StoryGenerator.Domain/Mystira.StoryGenerator.Domain.csproj
  packages/story-generator/src/Mystira.StoryGenerator.Infrastructure/Mystira.StoryGenerator.Infrastructure.csproj
  packages/story-generator/src/Mystira.StoryGenerator.Llm.Console/Mystira.StoryGenerator.Llm.Console.csproj
  packages/story-generator/src/Mystira.StoryGenerator.Llm/Mystira.StoryGenerator.Llm.csproj
  packages/story-generator/src/Mystira.StoryGenerator.RagIndexer/Mystira.StoryGenerator.RagIndexer.csproj
  packages/story-generator/src/Mystira.StoryGenerator.Web/Mystira.StoryGenerator.Web.csproj
  packages/story-generator/tests/Mystira.StoryGenerator.Api.Tests/Mystira.StoryGenerator.Api.Tests.csproj
  packages/story-generator/tests/Mystira.StoryGenerator.Application.Tests/Mystira.StoryGenerator.Application.Tests/Mystira.StoryGenerator.Application.Tests.csproj
  packages/story-generator/tests/Mystira.StoryGenerator.Domain.Tests/Mystira.StoryGenerator.Domain.Tests.csproj
  packages/story-generator/tests/Mystira.StoryGenerator.GraphTheory.Tests/Mystira.StoryGenerator.GraphTheory.Tests.csproj
  packages/story-generator/tests/Mystira.StoryGenerator.Infrastructure.Tests/Mystira.StoryGenerator.Infrastructure.Tests.csproj
  packages/story-generator/tests/Mystira.StoryGenerator.Llm.Tests/Mystira.StoryGenerator.Llm.Tests.csproj
Due: none

chore(infra): update Terraform for .NET 10 and monorepo consolidation
  infra/terraform/environments/dev/main.tf
  infra/terraform/environments/dev/mystira-app.tf
  infra/terraform/environments/prod/main.tf
  infra/terraform/environments/prod/mystira-app.tf
  infra/terraform/environments/staging/main.tf
  infra/terraform/environments/staging/mystira-app.tf
  infra/terraform/modules/admin-api/main.tf
  infra/terraform/modules/chain/main.tf
  infra/terraform/modules/dns/main.tf
  infra/terraform/modules/entra-id/main.tf
  infra/terraform/modules/front-door/main.tf
  infra/terraform/modules/mystira-app/main.tf
  infra/terraform/modules/mystira-app/variables.tf
  infra/terraform/modules/publisher/main.tf
  infra/terraform/modules/shared/identity/main.tf
  infra/terraform/modules/shared/monitoring/main.tf
  infra/terraform/modules/shared/postgresql/main.tf
  infra/terraform/modules/shared/redis/main.tf
  infra/terraform/modules/story-generator/README.md
Due: none

docs(infra): update standardization plan to reflect Phase 1 completion
  DEV_RESOURCES_STANDARDIZATION_PLAN.md
Due: none

docs: fix stale references in admin migration, publishing flow, and secret rotation
  docs/SECRET_ROTATION.md
  docs/cicd/publishing-flow.md
  docs/migrations/mystira-admin-migration.md
Due: none

feat(admin-api): add global exception handler, Polly v8 resilience, and exception migration
  docs/migrations/MIGRATION_INDEX.md
  docs/migrations/mystira-admin-migration.md
  packages/admin-api/src/Mystira.Admin.Api/Controllers/AuthController.cs
  packages/admin-api/src/Mystira.Admin.Api/Mystira.Admin.Api.csproj
  packages/admin-api/src/Mystira.Admin.Api/Program.cs
  packages/admin-api/src/Mystira.Admin.Api/Services/BadgeAdminService.cs
  packages/admin-api/src/Mystira.Admin.Api/Services/CharacterMapFileService.cs
  packages/admin-api/src/Mystira.Admin.Api/Services/UserProfileService.cs
  packages/admin-api/src/Mystira.Admin.Api/appsettings.json
Due: none

feat(admin-api): complete exception migration to Mystira.Shared.Exceptions
  packages/admin-api/src/Mystira.Admin.Api/Services/AccountApiService.cs
  packages/admin-api/src/Mystira.Admin.Api/Services/BundleService.cs
  packages/admin-api/src/Mystira.Admin.Api/Services/CharacterMapApiService.cs
  packages/admin-api/src/Mystira.Admin.Api/Services/CharacterMediaMetadataService.cs
  packages/admin-api/src/Mystira.Admin.Api/Services/ClientApiService.cs
  packages/admin-api/src/Mystira.Admin.Api/Services/GameSessionApiService.cs
  packages/admin-api/src/Mystira.Admin.Api/Services/MediaApiService.cs
  packages/admin-api/src/Mystira.Admin.Api/Services/MediaMetadataService.cs
  packages/admin-api/src/Mystira.Admin.Api/Services/ScenarioApiService.cs
  packages/admin-api/src/Mystira.Admin.Api/Services/UserBadgeApiService.cs
Due: none

feat(admin-api): migrate AvatarApiService exceptions to Mystira.Shared.Exceptions
  packages/admin-api/src/Mystira.Admin.Api/Services/AvatarApiService.cs
Due: none

feat(domain,admin-api): add domain specifications and shared cache adapter
  packages/admin-api/src/Mystira.Admin.Api/Services/Caching/SharedCacheServiceAdapter.cs
  packages/domain/Mystira.Domain/Mystira.Domain.csproj
  packages/domain/Mystira.Domain/Specifications/AccountByEmailSpec.cs
  packages/domain/Mystira.Domain/Specifications/AccountByIdSpec.cs
  packages/domain/Mystira.Domain/Specifications/AccountByStatusSpec.cs
  packages/domain/Mystira.Domain/Specifications/ActiveAccountsSpec.cs
  packages/domain/Mystira.Domain/Specifications/UserProfileByAccountIdSpec.cs
  packages/domain/Mystira.Domain/Specifications/UserProfileByIdSpec.cs
  packages/domain/Mystira.Domain/Specifications/UserProfilesWithRecentActivitySpec.cs
Due: dotnet-domain, .NET Domain

feat: complete waves 3-5 of monorepo migration
  packages/admin-api/src/Mystira.Admin.Api/Program.cs
  packages/admin-api/src/Mystira.Admin.Api/Services/ContentBundleAdminService.cs
  packages/admin-api/src/Mystira.Admin.Api/Services/ScenarioApiService.cs
  packages/infrastructure/Mystira.Infrastructure.Data/Services/MasterDataSeederService.cs
  packages/shared/Mystira.Shared/Data/Polyglot/IPolyglotRepository.cs
  packages/shared/Mystira.Shared/Data/Polyglot/PolyglotExtensions.cs
  packages/shared/Mystira.Shared/Data/Polyglot/PolyglotOptions.cs
  packages/shared/Mystira.Shared/Data/Polyglot/PolyglotRepository.cs
  packages/shared/Mystira.Shared/Extensions/OptionsValidationExtensions.cs
  packages/story-generator/src/Mystira.StoryGenerator.Api/Controllers/StoriesController.cs
  packages/story-generator/src/Mystira.StoryGenerator.Api/Mystira.StoryGenerator.Api.csproj
  packages/story-generator/src/Mystira.StoryGenerator.Api/Program.cs
  packages/story-generator/src/Mystira.StoryGenerator.Application/Handlers/Chat/FreeTextCommandHandler.cs
  packages/story-generator/src/Mystira.StoryGenerator.Application/Handlers/Chat/GuidelinesCommandHandler.cs
  packages/story-generator/src/Mystira.StoryGenerator.Application/Handlers/Chat/HelpCommandHandler.cs
  packages/story-generator/src/Mystira.StoryGenerator.Application/Handlers/Chat/RequirementsCommandHandler.cs
  packages/story-generator/src/Mystira.StoryGenerator.Application/Handlers/Chat/SafetyPolicyCommandHandler.cs
  packages/story-generator/src/Mystira.StoryGenerator.Application/Handlers/Chat/SchemaDocsCommandHandler.cs
  packages/story-generator/src/Mystira.StoryGenerator.Application/Handlers/Stories/AutoFixStoryJsonCommandHandler.cs
  packages/story-generator/src/Mystira.StoryGenerator.Application/Handlers/Stories/GenerateStoryCommandHandler.cs
  packages/story-generator/src/Mystira.StoryGenerator.Application/Handlers/Stories/RefineStoryCommandHandler.cs
  packages/story-generator/src/Mystira.StoryGenerator.Application/Handlers/Stories/SummarizeStoryCommandHandler.cs
  packages/story-generator/src/Mystira.StoryGenerator.Application/Handlers/Stories/ValidateStoryCommandHandler.cs
  packages/story-generator/src/Mystira.StoryGenerator.Application/Mystira.StoryGenerator.Application.csproj
  packages/story-generator/src/Mystira.StoryGenerator.Application/Services/ChatOrchestrationService.cs
  packages/story-generator/src/Mystira.StoryGenerator.Domain/Commands/ICommand.cs
  packages/story-generator/src/Mystira.StoryGenerator.Domain/Commands/ICommandHandler.cs
  packages/story-generator/src/Mystira.StoryGenerator.Domain/Mystira.StoryGenerator.Domain.csproj
  packages/story-generator/tests/Mystira.StoryGenerator.Application.Tests/Mystira.StoryGenerator.Application.Tests/ChatOrchestrationServiceTests.cs
Due: dotnet-shared, .NET Shared

chore(workspace): finalize monorepo migration cleanup
  .env.example
  .github/workflows/packages-publish.yml
  infra/docker/admin-api/Dockerfile
  infra/docker/app/Dockerfile
  package.json
  packages/ai/Mystira.Ai/Mystira.Ai.csproj
  packages/application/Mystira.Application/Mystira.Application.csproj
  packages/authoring/Mystira.Authoring.Abstractions/Mystira.Authoring.Abstractions.csproj
  packages/authoring/Mystira.Authoring/Mystira.Authoring.csproj
  packages/core/Mystira.Core/Mystira.Core.csproj
  packages/domain/Mystira.Domain/Mystira.Domain.csproj
  packages/infrastructure/Mystira.Infrastructure.Azure/Mystira.Infrastructure.Azure.csproj
  packages/infrastructure/Mystira.Infrastructure.Data/Mystira.Infrastructure.Data.csproj
  packages/infrastructure/Mystira.Infrastructure.Discord/Mystira.Infrastructure.Discord.csproj
  packages/infrastructure/Mystira.Infrastructure.Payments/Mystira.Infrastructure.Payments.csproj
  packages/infrastructure/Mystira.Infrastructure.StoryProtocol/Mystira.Infrastructure.StoryProtocol.csproj
  packages/infrastructure/Mystira.Infrastructure.Teams/Mystira.Infrastructure.Teams.csproj
  packages/infrastructure/Mystira.Infrastructure.WhatsApp/Mystira.Infrastructure.WhatsApp.csproj
  scripts/setup-submodules.ps1
  scripts/setup-submodules.sh
  scripts/setup-workspace.ps1
  scripts/setup-workspace.sh
  scripts/show-submodules.ps1
  scripts/show-submodules.sh
Due: dotnet-core, dotnet-domain, dotnet-application, .NET Core, .NET Domain, .NET Application

chore(workspace): add setup-env.sh script for local dev onboarding
  package.json
  scripts/setup-env.sh
Due: none

Improve Cypress tests: formatting, accessibility audits, and logging (#626)
  packages/publisher/cypress.config.ts
  packages/publisher/cypress/e2e/registration.cy.ts
Due: typescript, TypeScript Packages

fix(ci): resolve multiple CI pipeline failures across .NET, TypeScript, and infrastructure
  .github/workflows/infra-pr-automation.yml
  packages/admin-ui/src/pages/DashboardPage.tsx
  packages/app/src/Mystira.App.Api/Mystira.App.Api.csproj
  packages/app/src/Mystira.App.Application/CQRS/Badges/Queries/CalculateBadgeScoresQueryHandler.cs
  packages/app/src/Mystira.App.Application/CQRS/GameSessions/Commands/ProgressSceneCommandHandler.cs
  packages/app/src/Mystira.App.Application/CQRS/Scenarios/Commands/DeleteScenarioCommandHandler.cs
  packages/app/src/Mystira.App.Application/Mystira.App.Application.csproj
  packages/app/src/Mystira.App.Infrastructure.Data/Mystira.App.Infrastructure.Data.csproj
  packages/app/src/Mystira.App.Infrastructure.Payments/Mystira.App.Infrastructure.Payments.csproj
  packages/app/src/Mystira.App.PWA/Mystira.App.PWA.csproj
  packages/app/tests/Mystira.App.Application.Tests/Mystira.App.Application.Tests.csproj
  packages/domain/Mystira.Domain/Mystira.Domain.csproj
  packages/publisher/src/features/Contributor/components/RoyaltySplitEditor.tsx
  packages/publisher/src/hooks/useMediaQuery.ts
  packages/shared/Mystira.Shared.Generators/OptionsValidatorGenerator.cs
Due: typescript, dotnet-domain, TypeScript Packages, .NET Shared, .NET Domain

fix(ci): resolve multiple CI pipeline failures across .NET, TypeScript, and infrastructure (#629)
  .github/workflows/infra-pr-automation.yml
  packages/admin-ui/src/pages/DashboardPage.tsx
  packages/app/src/Mystira.App.Api/Mystira.App.Api.csproj
  packages/app/src/Mystira.App.Application/CQRS/Badges/Queries/CalculateBadgeScoresQueryHandler.cs
  packages/app/src/Mystira.App.Application/CQRS/GameSessions/Commands/ProgressSceneCommandHandler.cs
  packages/app/src/Mystira.App.Application/CQRS/Scenarios/Commands/DeleteScenarioCommandHandler.cs
  packages/app/src/Mystira.App.Application/Mystira.App.Application.csproj
  packages/app/src/Mystira.App.Infrastructure.Data/Mystira.App.Infrastructure.Data.csproj
  packages/app/src/Mystira.App.Infrastructure.Payments/Mystira.App.Infrastructure.Payments.csproj
  packages/app/src/Mystira.App.PWA/Mystira.App.PWA.csproj
  packages/app/tests/Mystira.App.Application.Tests/Mystira.App.Application.Tests.csproj
  packages/domain/Mystira.Domain/Mystira.Domain.csproj
  packages/publisher/src/features/Contributor/components/RoyaltySplitEditor.tsx
  packages/publisher/src/hooks/useMediaQuery.ts
  packages/shared/Mystira.Shared.Generators/OptionsValidatorGenerator.cs
Due: typescript, dotnet-domain, TypeScript Packages, .NET Shared, .NET Domain

fix: resolve nested Terragrunt include error breaking CI init
  infra/terraform/products/admin/_product.hcl
  infra/terraform/products/admin/environments/dev/terragrunt.hcl
  infra/terraform/products/admin/environments/prod/terragrunt.hcl
  infra/terraform/products/admin/environments/staging/terragrunt.hcl
  infra/terraform/products/chain/_product.hcl
  infra/terraform/products/chain/environments/dev/terragrunt.hcl
  infra/terraform/products/chain/environments/prod/terragrunt.hcl
  infra/terraform/products/chain/environments/staging/terragrunt.hcl
  infra/terraform/products/mystira-app/_product.hcl
  infra/terraform/products/mystira-app/environments/dev/terragrunt.hcl
  infra/terraform/products/mystira-app/environments/prod/terragrunt.hcl
  infra/terraform/products/mystira-app/environments/staging/terragrunt.hcl
  infra/terraform/products/publisher/_product.hcl
  infra/terraform/products/publisher/environments/dev/terragrunt.hcl
  infra/terraform/products/publisher/environments/prod/terragrunt.hcl
  infra/terraform/products/publisher/environments/staging/terragrunt.hcl
  infra/terraform/products/story-generator/_product.hcl
  infra/terraform/products/story-generator/environments/dev/terragrunt.hcl
  infra/terraform/products/story-generator/environments/prod/terragrunt.hcl
  infra/terraform/products/story-generator/environments/staging/terragrunt.hcl
  infra/terraform/shared-infra/_product.hcl
  infra/terraform/shared-infra/environments/dev/terragrunt.hcl
  infra/terraform/shared-infra/environments/prod/terragrunt.hcl
  infra/terraform/shared-infra/environments/staging/terragrunt.hcl
Due: none

fix: resolve ESLint ajv module resolution failure in CI
  package.json
  packages/contracts/package.json
  packages/shared-utils/package.json
  pnpm-lock.yaml
Due: typescript, TypeScript Packages, .NET Contracts

fix: add missing IDisposable dispose calls across app and devhub packages
  packages/app/src/Mystira.App.PWA/Services/EntraExternalIdAuthService.cs
  packages/app/src/Mystira.App.PWA/Services/Music/AudioCacheService.cs
  packages/app/src/Mystira.App.PWA/Services/ScenarioApiClient.cs
  packages/app/tests/Mystira.App.Api.Tests/Controllers/MediaControllerTests.cs
  packages/app/tests/Mystira.App.PWA.Tests/Services/GameSessionApiClientTests.cs
  packages/app/tests/Mystira.App.PWA.Tests/Services/Music/AudioCacheServiceTests.cs
  packages/app/tests/Mystira.App.PWA.Tests/Services/ScenarioApiClientTests.cs
  packages/devhub/Mystira.App.CosmosConsole/Program.cs
  packages/devhub/Mystira.DevHub.Services/Migration/MigrationService.cs
Due: none

fix: resolve Terragrunt dependency path resolution and clean up CI workflows
  .github/workflows/infra-pr-automation.yml
  .github/workflows/infra-promote.yml
  .github/workflows/infra-terragrunt-deploy.yml
  .github/workflows/infra-terragrunt-validate.yml
  .github/workflows/infra-validate.yml
  infra/terraform/products/admin/_product.hcl
  infra/terraform/products/chain/_product.hcl
  infra/terraform/products/mystira-app/_product.hcl
  infra/terraform/products/publisher/_product.hcl
  infra/terraform/products/story-generator/_product.hcl
Due: none

fix: allow mock outputs during terragrunt init for CI validation
  infra/terraform/products/admin/_product.hcl
  infra/terraform/products/chain/_product.hcl
  infra/terraform/products/mystira-app/_product.hcl
  infra/terraform/products/publisher/_product.hcl
  infra/terraform/products/story-generator/_product.hcl
Due: none

fix: resolve Terragrunt cache module path resolution and consolidate CI pipelines
  .github/workflows/gitops-apps.yml
  .github/workflows/infra-cost-estimation.yml
  .github/workflows/infra-deploy.yml
  .github/workflows/infra-drift-detection.yml
  .github/workflows/infra-pr-automation.yml
  .github/workflows/infra-promote.yml
  .github/workflows/infra-terragrunt-deploy.yml
  .github/workflows/infra-terragrunt-validate.yml
  .github/workflows/keyvault-secrets.yml
  .github/workflows/packages-publish.yml
  infra/terraform/products/admin/environments/dev/terragrunt.hcl
  infra/terraform/products/admin/environments/prod/terragrunt.hcl
  infra/terraform/products/admin/environments/staging/terragrunt.hcl
  infra/terraform/products/chain/environments/dev/terragrunt.hcl
  infra/terraform/products/chain/environments/prod/terragrunt.hcl
  infra/terraform/products/chain/environments/staging/terragrunt.hcl
  infra/terraform/products/mystira-app/environments/dev/terragrunt.hcl
  infra/terraform/products/mystira-app/environments/prod/terragrunt.hcl
  infra/terraform/products/mystira-app/environments/staging/terragrunt.hcl
  infra/terraform/products/publisher/environments/dev/terragrunt.hcl
  infra/terraform/products/publisher/environments/prod/terragrunt.hcl
  infra/terraform/products/publisher/environments/staging/terragrunt.hcl
  infra/terraform/products/story-generator/environments/dev/terragrunt.hcl
  infra/terraform/products/story-generator/environments/prod/terragrunt.hcl
  infra/terraform/products/story-generator/environments/staging/terragrunt.hcl
  infra/terraform/shared-infra/environments/dev/terragrunt.hcl
  infra/terraform/shared-infra/environments/prod/terragrunt.hcl
  infra/terraform/shared-infra/environments/staging/terragrunt.hcl
  infra/terraform/terragrunt.hcl
Due: none

fix: move terraform source to child configs for correct function evaluation
  .github/workflows/infra-terragrunt-validate.yml
  infra/terraform/products/admin/environments/dev/terragrunt.hcl
  infra/terraform/products/admin/environments/prod/terragrunt.hcl
  infra/terraform/products/admin/environments/staging/terragrunt.hcl
  infra/terraform/products/chain/environments/dev/terragrunt.hcl
  infra/terraform/products/chain/environments/prod/terragrunt.hcl
  infra/terraform/products/chain/environments/staging/terragrunt.hcl
  infra/terraform/products/mystira-app/environments/dev/terragrunt.hcl
  infra/terraform/products/mystira-app/environments/prod/terragrunt.hcl
  infra/terraform/products/mystira-app/environments/staging/terragrunt.hcl
  infra/terraform/products/publisher/environments/dev/terragrunt.hcl
  infra/terraform/products/publisher/environments/prod/terragrunt.hcl
  infra/terraform/products/publisher/environments/staging/terragrunt.hcl
  infra/terraform/products/story-generator/environments/dev/terragrunt.hcl
  infra/terraform/products/story-generator/environments/prod/terragrunt.hcl
  infra/terraform/products/story-generator/environments/staging/terragrunt.hcl
  infra/terraform/shared-infra/environments/dev/terragrunt.hcl
  infra/terraform/shared-infra/environments/prod/terragrunt.hcl
  infra/terraform/shared-infra/environments/staging/terragrunt.hcl
  infra/terraform/terragrunt.hcl
Due: none

fix: remove terraform source from shared-infra to fix dependency resolution
  infra/terraform/shared-infra/environments/dev/terragrunt.hcl
  infra/terraform/shared-infra/environments/prod/terragrunt.hcl
  infra/terraform/shared-infra/environments/staging/terragrunt.hcl
Due: none

fix: skip dependency output fetching in CI to avoid backend init errors
  .github/workflows/infra-terragrunt-validate.yml
  infra/terraform/products/admin/_product.hcl
  infra/terraform/products/chain/_product.hcl
  infra/terraform/products/mystira-app/_product.hcl
  infra/terraform/products/publisher/_product.hcl
  infra/terraform/products/story-generator/_product.hcl
Due: none

fix: set TF_CLI_ARGS_init to skip backend for all init invocations
  .github/workflows/infra-terragrunt-validate.yml
Due: none

fix: replace TF_CLI_ARGS_init with --terragrunt-no-auto-init for validate
  .github/workflows/infra-terragrunt-validate.yml
Due: none

fix: prevent literal matrix expressions in skipped job names
  .github/workflows/infra-pr-automation.yml
Due: none

fix: run terraform validate directly, bypass terragrunt dependency resolution
  .github/workflows/infra-terragrunt-validate.yml
Due: none

fix: handle both source-block and no-source-block terragrunt stacks
  .github/workflows/infra-terragrunt-validate.yml
Due: none

fix: gracefully handle missing Azure credentials in PR plan workflow
  .github/workflows/infra-pr-automation.yml
Due: none

fix: add TERRAGRUNT_SKIP_OUTPUTS to PR automation init/plan steps
  .github/workflows/infra-pr-automation.yml
Due: none

fix: gracefully handle missing state backend in PR plan workflow
  .github/workflows/infra-pr-automation.yml
Due: none

chore: regenerate pnpm lockfile for monorepo migration (#638)
  pnpm-lock.yaml
Due: none

Path conditions:
  typescript: any of: packages/shared-utils/, packages/admin-ui/, packages/publisher/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-core: any of: packages/core/Mystira.Core/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-shared: any of: packages/shared/Mystira.Shared/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-domain: any of: packages/domain/Mystira.Domain/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-application: any of: packages/application/Mystira.Application/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  dotnet-contracts: any of: packages/contracts/dotnet/Mystira.Contracts/, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  TypeScript Packages: any of: packages/shared-utils/**, packages/admin-ui/**, packages/publisher/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Core: any of: packages/core/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Shared: any of: packages/shared/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Domain: any of: packages/domain/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Application: any of: packages/application/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
  .NET Contracts: any of: packages/contracts/**, but not: **/*.g.cs, **/*Tests*/**, **/obj/**, **/bin/**, **/*.Designer.cs, **/Migrations/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/node_modules/**, **/dist/**, **/coverage/**, **/*.d.ts
